[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
pymysql = "*"
python-dotenv = "*"
bcrypt = "*"
flask-login = "*"
pytest = "*"
pytest-flask = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
