#divInapto {
    max-width: 250px;
    flex: 5;
}

#divData {
    max-width: 150px;
    flex: 3;
}

@media only screen and (max-width: 1366px) {

    #divInapto,#divData {
        max-width: 100%;
    }

}
