#divCidade {
    max-width: 300px;
    flex: 5;
}

#divTelefone {
    max-width: 200px;
    flex: 4;
}

#divTipagem {
    max-width: 150px;
    flex: 3;
}

#divIP {
    max-width: 150px;
    flex: 3;
}

.linhaFormulario{
    align-items: flex-end;
    margin-bottom: 24px;
}

.flexivel{
    align-items: flex-end;
}

.form-check-input{
    cursor: pointer;
}

.form-check-input:focus, .form-check-input:active {
    outline: none !important;
    box-shadow: none !important;
}

.icones{
    display: block;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.notificado{
    font-size: 24px;
    color: green;
}