#divCidade {
    max-width: 300px;
    flex: 5;
}

#divTelefone {
    max-width: 200px;
    flex: 4;
}

#divTipagem {
    max-width: 150px;
    flex: 4;
}

#divIP {
    max-width: 200px;
    flex: 4;
}

.linhaFormulario{
    align-items: flex-end;
    margin-bottom: 24px;
}

.flexivel{
    align-items: flex-end;
}

.form-check-input{
    cursor: pointer;
}

.form-check-input:focus, .form-check-input:active {
    outline: none !important;
    box-shadow: none !important;
}

.iconesCH{
    display: block;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.notificado{
    font-size: 24px;
    color: green;
}

.tabela tbody td:first-child {
    text-align: center;
    font-size: 18px;
}

.textStart tr td:first-child{
    text-align: start;
}

.material-icons {
    cursor: pointer;
}

.azul {
    color: #0275D8;
}