:root {
    --vermelho: #ac0011;
    --vermelhoHover: #970110;
    --vermelhoActive: #86010e;
    --cinzaFundo: #F5F5F5;
    --cinzaDisabled: #CCCCCC;
    --cinzaBotaoSecundario: #898989;
    --cinzaBotaoSecundarioHover: #7a7a7a;
    --cinzaBotaoSecundarioActive: #686868;
    --cinzaBotao: #3D3D3D;
    --cinzaBotaoHover: #303030;
    --cinzaBotaoActive: #292929;
    --cinzaTabela: #232323;
    --pretoLabel: #151515;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0 !important;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

html, body {
    height: 100%;
    width: 100%;
}

.contentor {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--cinzaFundo);
}

.barraLateral {
    min-width: 250px;
    max-width: 250px;
    padding-top: 0px !important;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
    z-index: 101;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logoBarra {
    width: 192px;
    height: 52px;
    margin-top: 20px;
}

.barraSuperior {
    width: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--vermelho);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    z-index: 100;
}

.barraSuperior p {
    margin: 0;
    margin-right: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    font-size: 14px;
    color: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.linha {
    width: 1px;
    height: 48px;
    margin-right: 16px;
    background-color: #FFFFFF;
}

.icone {
    margin-right: 16px;
    color: #FFFFFF;
    font-size: 48px;
}

.divisaoLogo {
    min-height: 90px;
    min-width: 211px;
    border-bottom: 2px solid var(--vermelho);
}

.navegacao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin-top: 36px;
}

#icone-doacao {
    transform: rotate(180deg);
}

.icones {
    font-size: 28px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.categoriaTitulo {
    width: 100%;
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.categoria {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 14px;
}

.opcoes div {
    font-size: 18px;
    font-weight: 500;
    margin-left: 12px;
    margin-bottom: 16px;
}

.categoria div:first-child {
    display: flex;
}

.opcoes div {
    display: flex;
}

.categoria p {
    margin: 0;
    margin-left: 8px;
}

.hemocentro {
    display: flex;
    color: var(--vermelho);
    font-weight: 600;
    font-size: 18px;
    justify-content: center;
}

.hemocentro p {
    margin: 0;
}

.caixaAuxiliar {
    width: 100%;
    height: 100%;
}

.caixaFlex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
}

main {
    display: flex;
    padding: 0px 40px;
    flex: 1 1 auto;
    width: 100%;
    background-color: var(--cinzaFundo);
    overflow: auto;
}

#conteudoPagina {
    max-height: 100%;
    width: 100%;
}

.imagemPaginaInicial {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.imagemPaginaInicial img {
    max-width: 500px;
    max-height: 200px;
}

.linkAtivo {
    color: var(--vermelho);
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--cinzaFundo);
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--cinzaBotaoSecundario);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--cinzaBotao);
}

/* width */

.barraLateral::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-width: 1024px) {
    .imagemPaginaInicial img {
        max-width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .imagemPaginaInicial img {
        max-width: 300px;
        height: auto;
    }
}