.contentorConteudo {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 24px;
}

.bread {
    display: flex;
}

.bread p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.bread p:last-child {
    color: var(--vermelho);
}

.bread p:not(:last-child) {
    margin-right: 4px;
}

.cartao {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 16px;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.formulario {
    width: 100%;
}

.titulo {
    margin-bottom: 20px;
}

.tituloSecundario {
    font-size: 22px !important;
}

.linhaFormulario {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 16px;
}

.ultimaLinhaInput {
    margin-bottom: 24px;
}

.linhaSolitaria {
    margin-bottom: 0px !important;
}

.formulario label {
    font-style: normal;
    color: var(--pretoLabel);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: block;
}

.campo {
    margin-right: 16px;
    flex: 1 1 auto;
}

.campo input, .campo select {
    background: #FFFFFF;
    border: 1px solid #000000;
    color: black;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    font-style: normal;
    padding: 0px 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 0px;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.campo input:focus, .campo select:focus {
    outline: none;
    background-color: #fcfcfc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
}

option {
    font-size: 20px;
}

option:hover {
    background-color: var(--cinzaDisabled) !important;
}

.campo input:disabled, .campo select:disabled {
    border-color: var(--cinzaDisabled);
    color: var(--cinzaDisabled);
}

.linhaFormulario :last-child {
    margin-right: 0px;
}

.campo :last-child:focus {
    outline: none;
}

.botao {
    padding: 8px 32px;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 !important;
    margin-right: 16px !important;
    outline: none !important;
    cursor: pointer;
}

.botao:active {
    outline: none !important;
}

.linhaBotoes {
    display: flex;
    width: 100%;
}

.SpcBtw {
    justify-content: space-between;
}

.AlgSrt {
    align-items: flex-start;
}

.AlgCenter {
    align-items: center;
}

.JstfyCenter {
    justify-content: center;
}

.AlgEnd {
    align-items: flex-end;
}

.dados {
    margin-right: 24px;
}

.dados p {
    font-size: 18px;
    line-height: 20px;
}

.btn-principal {
    background-color: var(--cinzaBotao);
}

.btn-secundario {
    background-color: var(--cinzaBotaoSecundario);
}

.btn-alerta {
    background-color: var(--vermelho);
}

.btn-principal:hover {
    background-color: var(--cinzaBotaoHover);
}

.btn-secundario:hover {
    background-color: var(--cinzaBotaoSecundarioHover);
}

.btn-alerta:hover {
    background-color: var(--vermelhoHover);
}

.btn-principal:active {
    background-color: var(--cinzaBotaoActive);
}

.btn-secundario:active {
    background-color: var(--cinzaBotaoSecundarioActive);
}

.btn-alerta:active {
    background-color: var(--vermelhoActive);
}

.linhaMRReset {
    margin-right: 0px !important;
}

.tabela {
    margin-bottom: 0px !important;
}

.tabela th:first-child {
    border-radius: 5px 0px 0px 0px!important;
}

.tabela th:last-child {
    border-radius: 0px 5px 0px 0px!important;
}

.tabela thead {
    background-color: var(--cinzaTabela) !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.tabela th:first-child {
    padding: 12px 20px !important;
}

.table td {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.tabela tbody td:first-child {
    padding: 12px 20px !important;
}

.tabela tbody td:not(:first-child) {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.tabela th:not(:first-child) {
    padding: 12px 8px !important;
}

.paginador {
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 0px !important;
}

ul.pagination {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    text-align: center;
    color: white;
    float: left;
    height: 40px;
    width: 40px;
    padding: 8px 16px;
    margin: 0 1px;
    border: 1px solid var(--cinzaBotao);
    background-color: var(--cinzaBotao);
    text-decoration: none;
    
}

ul.pagination li a.ativo {
    background: white;
    color: var(--cinzaBotao);
}

.pagination :first-child{
    border-radius: 3px;
}

.page-item:focus, .page-link:focus, .page-link:active{
    outline: none !important;
    box-shadow: none !important;
}

.rowActive:hover{
    cursor: pointer !important;
    background-color: var(--cinzaLinha) !important;
}

.flexivel {
    display: flex;
}

.iconesG {
    color: var(--cinzaBotao);
    font-size: 28px;
    margin-left: 16px;
    cursor: pointer;
}

.iconesGG {
    color: var(--cinzaBotao);
    font-size: 32px;
    margin-left: 16px;
    cursor: pointer;
}

.iconesM {
    color: var(--cinzaBotao);
    padding-bottom: 2px;
    font-size: 24px;
    cursor: pointer;
}

.iconesS {
    color: var(--cinzaBotao);
    font-size: 18px;
    cursor: pointer;
}

.iconesP {
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.iconesnP {
    font-size: 16px;
    line-height: 16px;
}

.tipoSanguineo {
    color: var(--vermelho);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.notificado {
    font-size: 24px;
    color: green;
}

.flexivelColumn {
    flex-direction: column;
}

::-webkit-input-placeholder {
    color: var(--cinzaDisabled);
}

:-ms-input-placeholder {
    color: var(--cinzaDisabled);
}

::placeholder {
    color: var(--cinzaDisabled);
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.borda-alerta {
    border-color: var(--vermelho) !important;
    background-color: #fdeeee !important;
    color: var(--vermelho) !important;
}

.txt-alerta {
    color: var(--vermelho) !important;
}

input[type=number], input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

#resultadosEncontrados {
    padding-bottom: 16px;
}