#divRegistro {
    flex: 2;
    max-width: 130px;
    margin-right: 12px;
}

#divNome {
    flex: 6;
}

#divTipo {
    flex: 1;
    max-width: 80px;
}

#divData {
    flex: 2;
    max-width: 130px;
}

#divFidelidade {
    flex: 2;
    max-width: 200px;
}

#divInapto {
    flex: 3;
}

#divDataFinal {
    flex: 2;
}

#divConvocacao {
    flex: 2;
    max-width: 250px;
}

#divObservacoes {
    flex: 6;
}

#divNome {
    flex: 10;
}

#divCPF{
    flex: 4;
}

#btnPesquisa {
    max-width: 150px;
    flex: 1;
}

#searchIco {
    font-size: 28px;
}

#resultadosEncontrados {
    padding-bottom: 16px;
}

.btnPesquisa {
    height: 40px;
    padding: 0px 8px;
    font-size: 28px;
    line-height: 0px;
    background-color: white;
    margin-right: 12px;
    border:none;
}

.btnPesquisa:focus, .btnPesquisa:focus {
    outline: none;
}

@media only screen and (max-width: 1023px) {

    #divRegistro, #divNome, #divTipo, #divData, #divFidelidade,
    #divInapto, #divDataFinal, #divConvocacao, #divObservacoes, #divNome,
    #divCPF, #btnPesquisa {
        max-width: 100%;
    }
    #divRegistro {
        margin-right: 0;
    }
    .btnPesquisa {
        border: none !important;
        box-shadow: none !important;
        font-size: 22px !important;
        padding: 0 20px 0 40px !important;
    }
}