#divNome {
    flex: 6;
}

#divRegistro {
    flex: 1;
    min-width: 120px;
}

#divCpf {
    flex: 1;
    min-width: 145px;
}

#divSexo {
    flex: 2;
}

#divSangue {
    flex: 2;
}

#divMae {
    flex: 2;
}

#divPai {
    flex: 2;
}

