#divNome {
    flex: 4;
}

#divRegistro {
    flex: 2;
}

#divCpf {
    flex: 2;
}

#divSexo {
    flex: 2;
}

#divSangue {
    flex: 2;
}

#divMae {
    flex: 2;
}

#divPai {
    flex: 2;
}

input[type=number], input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}