.divSeparador{
    display: flex !important;
    margin-bottom: 0px !important;
}

.editar{
    display: flex !important;
    justify-content: flex-end !important;
    max-height: 24px !important;
    cursor: pointer;
}

#divResultados{
    margin-left: 24px !important;

}

.redirecionar{
    text-decoration: underline;
    cursor: pointer;

}

