{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/alterarInaptidao.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Doadores ></p>
        <p>{{ doador.nome }} ></p>
        <p>Alterar inaptidão</p>
    </div>

    {% if doador.ativo %}
    <div class="cartao noselect">

        <div class="titulo">
            <h1>Alterar inaptidão</h1>
        </div>

        <div class="formulario">
            <form action="/alterar-inaptidao/{{ doador.numero_registro }}" method="POST">
                <div class="linhaFormulario formularioResponsivo">
                    <div class="dados">
                        <label for="txt">Nome completo:</label>
                        <p>{{ doador.nome }}</p>
                    </div>
                </div>
                <div class="linhaFormulario formularioResponsivo">
                    <div class="campo" id="divInapto">
                        <label for="inapto">Inapto:</label>
                        <select onchange="bloquearData()" name="estadoAptidao" id="estadoAptidao">
                            <option {% if not doador.inaptidao %} selected="selected" {% endif %} value="apto">Apto
                            </option>
                            <option {% if doador.inaptidao %} selected="selected" {% endif %} value="inapto">Inapto
                            </option>
                        </select>
                    </div>
                    <div class="campo" id="divData">
                        <label id="lbData" for="data">Data final:</label>
                        <input onfocus="removerClasse()" type="text" class="data" id="data" name="data"
                            autocomplete="off" {% if doador.final_inaptidao %}
                            value="{{ doador.final_inaptidao.strftime('%d/%m/%Y') }}" {% endif %}>
                    </div>
                    <div class="mb-24"></div>
                    <div>
                        <button onclick="verificarData(event)" class="botao btn-principal">Atualizar estado</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    {% else %}
    <div class="cartao noselect">

        <h1>Doador desativado</h1>

    </div>
    {% endif %}
</div>

</div>
{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
<script src="{{ url_for('static', filename='js/alterarInaptidao.js') }}"></script>
{% endblock %}