{% extends "base.html" %}


{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/baseConvocacao.css') }}" rel="stylesheet">
{% endblock %}


{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Chamadas ></p>
        <p>Convocação {{ tipo }}</p>
    </div>

    <div class="cartao">

        <div class="titulo noselect">
            <h1>Convocação {{ tipo }}</h1>
        </div>

        <div class="formulario">

            {% if listaVazia %}
            <div class="alert alert-warning" role="alert">
                Nenhum resultado encontrado para o tipo escolhido
            </div>
            {% endif %}

            {% block formHeader %}

            {% endblock %}

            {% if resultado %}
            <div class="linhaFormulario ultimaLinhaInput SpcBtw">
                {% else %}
                <div class="linhaFormulario linhaSolitaria SpcBtw">
                    {% endif%}

                    <div class="flexivel noselect">
                        <div class="campo" id="divTipagem">
                            <label id="lbTipagem" for="tipagem">Tipo sanguíneo:</label>
                            <select onfocus="remover()" name="tipagem" id="tipagem">
                                <option value="null">Selecione</option>
                                <option {% if tipo_sanguineo =="A+" %} selected="selected" {% endif %} value="A+">A+</option>
                                <option {% if tipo_sanguineo =="A-" %} selected="selected" {% endif %} value="A-">A-</option>
                                <option {% if tipo_sanguineo =="B+" %} selected="selected" {% endif %} value="B+">B+</option>
                                <option {% if tipo_sanguineo =="B-" %} selected="selected" {% endif %} value="B-">B-</option>
                                <option {% if tipo_sanguineo =="AB+" %} selected="selected" {% endif %} value="AB+">AB+</option>
                                <option {% if tipo_sanguineo =="AB-" %} selected="selected" {% endif %} value="AB-">AB-</option>
                                <option {% if tipo_sanguineo =="O+" %} selected="selected" {% endif %} value="O+">O+</option>
                                <option {% if tipo_sanguineo =="O-" %} selected="selected" {% endif %} value="O-">O-</option>
                            </select>
                        </div>
                        <div class="campo" id="divIP">
                            <label for="itenspp">Itens por página:</label>
                            <input {% if itens %} value="{{ itens }}" {% endif %} type="number" id="itenspp"
                                name="itens" autocomplete="off">
                        </div>
                        <input type="hidden" name="page" id="page" value="1">
                        <input type="hidden" name="telefonados" id="telefonados" {% if telefonadosStr %}
                            value="{{ telefonadosStr }}"
                        {% endif %}>
                        <button name="botao" onclick="validar(event)" class="botao btn-principal linhaMRReset">Buscar</button>
                    </div>
                    <input type="submit" name="botao" class="botao btn-secundario linhaMRReset noselect" value="Marcar Telefonados">

                </div>
            </div>

            {% if resultado %}
            <p id="resultadosEncontrados"><b>{{ paginas.total }} resultados encontrados.</b></p>
            <table class="table table-striped tabela tabelaFC">
                <thead>
                    <tr>
                        <th scope="col"><span class="material-icons iconesCH">check_circle</span></th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Notificado</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Última doação</th>
                    </tr>
                </thead>
                <tbody>
                    {% block infoTabela %}

                    {% endblock %}
                </tbody>
            </table>

            <div class="linhaFormulario paginador">
                
                <nav>
                    {% if paginas.pages >= 6 %}
                    <ul class="pagination">
                        <li>
                            <button name="botao" onclick="adicionarPagina()">
                                <span class="material-icons iconesP">
                                    first_page
                                </span>
                            </button>
                        </li>
                        <li>
                            <button name="botao" onclick="adicionarPagina(1)" class="iconesnP" {% if not paginas.prev_num==None %}
                                {% endif %}>
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        {% if paginas.has_prev %}
                        <li>
                            <button name="botao" onclick="adicionarPagina('{{ paginas.prev_num }}')">
                                {{ paginas.prev_num }}
                            </button>
                        </li>
                        {% endif %}
                        <li>
                            <button name="botao" onclick="adicionarPagina('{{ paginas.page }}')" class="ativo" disable>
                                {{ paginas.page }}
                            </button>
                        </li>
                        {% if paginas.has_next %}
                        <li>
                            <button name="botao" onclick="adicionarPagina('{{ paginas.next_num }}')">
                                {{ paginas.next_num }}
                            </button>
                        </li>
                        {% endif %}
                        <li>
                            <button name="botao" onclick="adicionarPagina('{{ paginas.next_num }}')" class="iconesnP" {% if not paginas.next_num==None %}
                                {% endif %}>
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                        <li>
                            <button name="botao" onclick="adicionarPagina('{{paginas.pages}}')">
                                <span class="material-icons iconesP ">
                                    last_page
                                </span>
                            </button>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="pagination">
                        <li>
                            <button name="botao" onclick="adicionarPagina('{{paginas.prev_num}}')" class="iconesnP" {% if not paginas.prev_num==None %}
                                {% endif %}>
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>

                        {% for page in paginas.iter_pages() %}
                        <li {% if page==paginas.page %} disable {% endif %}>
                            <button name="botao" onclick="adicionarPagina('{{page}}')" class="{% if page==paginas.page %} ativo {% endif %}">
                                {{ page }}</button>
                        </li>
                        {% endfor %}

                        <li>
                            <button name="botao" onclick="adicionarPagina('{{paginas.next_num}}')" class="iconesnP" {% if not paginas.next_num==None %}
                                {% endif %}>
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                    </ul>
                    {% endif %}
                </nav>
            </div>

            {% endif %}
            </form>
        </div>
    </div>
    
</div>
{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/convocacao.js') }}"></script>
{% endblock %}