<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block cabecalho %}
    {% endblock %}
    <title>Sistema de hemocentro</title>
</head>

<body>
    <div class="contentor">
        <div class="d-flex flex-column p-3 barraLateral">
            <a href="/inicio">
                <div class="divisaoLogo d-flex justify-content-center">
                    <img id="logoBarra" src="{{ url_for('static', filename='images/hemojipa3.png') }}">
                </div>
            </a>

            <div class="navegacao">
                <div id="sobrepor">
                    <div class="categoria">
                        <div class="categoriaTitulo" @click="toggle('doacoes')">
                            <div>
                                <span class="material-icons icones" id="icone-doacao">add_location</span>
                                <p>Doações</p>
                            </div>
                            <span v-if="!opcoes['doacoes']" class="material-icons icones">keyboard_arrow_down</span>
                            <span v-if="opcoes['doacoes']" class="material-icons icones">keyboard_arrow_up</span>
                        </div>

                        <div v-if="opcoes['doacoes']" class="opcoes">
                            <a href="/nova-doacao">
                                <div>
                                    <span class="material-icons icones">add</span>
                                    <p>Nova doação</p>
                                </div>
                            </a>
                            <a href="/consultar-doacao">
                                <div>
                                    <span class="material-icons icones">today</span>
                                    <p>Consultar por data</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="categoria">
                        <div class="categoriaTitulo" @click="toggle('doadores')">
                            <div>
                                <span class="material-icons icones">person_add</span>
                                <p>Doadores</p>
                            </div>
                            <span v-if="!opcoes['doadores']" class="material-icons icones">keyboard_arrow_down</span>
                            <span v-if="opcoes['doadores']" class="material-icons icones">keyboard_arrow_up</span>
                        </div>

                        <div v-if="opcoes['doadores']" class="opcoes">
                            <a href="/doador">
                                <div>
                                    <span class="material-icons icones">add</span>
                                    <p>Novo doador</p>
                                </div>
                            </a>
                            <a href="/doador/consultar">
                                <div>
                                    <span class="material-icons icones">search</span>
                                    <p>Consultar doadores</p>
                                </div>
                            </a>
                            <a href="/realatorio-doador">
                                <div>
                                    <span class="material-icons icones">account_box</span>
                                    <p>Relatório doador</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="categoria">
                        <div class="categoriaTitulo" @click="toggle('chamadas')">
                            <div>
                                <span class="material-icons icones">assignment</span>
                                <p>Chamadas</p>
                            </div>
                            <span v-if="!opcoes['chamadas']" class="material-icons icones">keyboard_arrow_down</span>
                            <span v-if="opcoes['chamadas']" class="material-icons icones">keyboard_arrow_up</span>
                        </div>

                        <div v-if="opcoes['chamadas']" class="opcoes">
                            <a href="/convocacao-tipada">
                                <div>
                                    <span class="material-icons icones">calendar_today</span>
                                    <p>Convocação tipada</p>
                                </div>
                            </a>
                            <a href="/convocacao-emergencial">
                                <div>
                                    <span class="material-icons icones">assignment_late</span>
                                    <p>Emergencial</p>
                                </div>
                            </a>
                            <a href="/convocacao-localidades-externas">
                                <div>
                                    <span class="material-icons icones">explore</span>
                                    <p>Localidades externas</p>
                                </div>
                            </a>
                            <a href="/convocacao-convocados">
                                <div>
                                    <span class="material-icons icones">phone_in_talk</span>
                                    <p>Convocados</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="categoria">
                        <div class="categoriaTitulo" @click="toggle('hemocentros')">
                            <div>
                                <span class="material-icons icones">local_hospital</span>
                                <p>Hemocentros</p>
                            </div>
                            <span v-if="!opcoes['hemocentros']" class="material-icons icones">keyboard_arrow_down</span>
                            <span v-if="opcoes['hemocentros']" class="material-icons icones">keyboard_arrow_up</span>
                        </div>

                        <div v-if="opcoes['hemocentros']" class="opcoes">
                            <a href="/hemocentro">
                                <div>
                                    <span class="material-icons icones">add</span>
                                    <p>Novo hemocentro</p>
                                </div>
                            </a>
                            <a href="/hemocentro/consultar">
                                <div>
                                    <span class="material-icons icones">search</span>
                                    <p>Consultar hemocentros</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="categoria">
                        <div class="categoriaTitulo" @click="toggle('captadores')">
                            <div>
                                <span class="material-icons icones">portrait</span>
                                <p>Captadores</p>
                            </div>
                            <span v-if="!opcoes['captadores']" class="material-icons icones">keyboard_arrow_down</span>
                            <span v-if="opcoes['captadores']" class="material-icons icones">keyboard_arrow_up</span>
                        </div>

                        <div v-if="opcoes['captadores']" class="opcoes">
                            <a href="/captador">
                                <div>
                                    <span class="material-icons icones">add</span>
                                    <p>Novo captador</p>
                                </div>
                            </a>
                            <a href="/consultar/captador">
                                <div>
                                    <span class="material-icons icones">search</span>
                                    <p>Consultar captadores</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="hemocentro">
                    <p>Hemojipa</p>
                </div>

            </div>
        </div>

        <div class="caixaAuxiliar">
            <div class="caixaFlex">
                <div class="barraSuperior">
                    <div>
                        <p>Administrador</p>
                    </div>
                    <div class="linha"></div>
                    <div>
                        <p>Servidor IFRO</p>
                        <p>Sawdev</p>
                    </div>
                    <div>
                        <a href=""><span id="logout" class="material-icons icone">logout</span></a>
                    </div>
                    <div>
                        <a href="/perfil"><span class="material-icons icone">manage_accounts</span></a>
                    </div>
                </div>
                <main>
                    <div id="conteudoPagina">
                        {% block conteudo %}
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>

        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropdowns.js') }}"></script>
    {% block codigos %}
    {% endblock %}

</body>

</html>