<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block cabecalho %}
    {% endblock %}
    <title>Sistema de hemocentro</title>
</head>

<body>
    <div class="contentor">
        <div id="barraLateral">
            <div class="barraLateralFlex">
                <div class="logoBarra">
                    <a href="/">
                        <div class="divisaoLogo d-flex justify-content-center">
                            <img id="logoBarra" src="/static/images/{{ current_user.get_hemocentro().get_img() }}">
                        </div>
                    </a>
                </div>
                <div class="navegacao">
                    <div id="sobrepor">
                        <div class="categoria">
                            <div class="categoriaTitulo" @click="toggle('doacoes')">
                                <div>
                                    <span class="material-icons icones" id="icone-doacao">add_location</span>
                                    <p>Doações</p>
                                </div>
                                <span v-if="!opcoes['doacoes']" class="material-icons icones">keyboard_arrow_down</span>
                                <span v-if="opcoes['doacoes']" class="material-icons icones">keyboard_arrow_up</span>
                            </div>

                            <div v-if="opcoes['doacoes']" class="opcoes">
                                <a href="/doacao">
                                    <div>
                                        <span class="material-icons icones">add</span>
                                        <p>Nova doação</p>
                                    </div>
                                </a>
                                <a href="/consultar-doacao/doador">
                                    <div>
                                        <span class="material-icons icones">person_search</span>
                                        <p>Consultar doações por doador</p>
                                    </div>
                                </a>
                                <a href="/consultar-doacao">
                                    <div>
                                        <span class="material-icons icones">today</span>
                                        <p>Consultar por data</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="categoria">
                            <div class="categoriaTitulo" @click="toggle('doadores')">
                                <div>
                                    <span class="material-icons icones">person_add</span>
                                    <p>Doadores</p>
                                </div>
                                <span v-if="!opcoes['doadores']"
                                    class="material-icons icones">keyboard_arrow_down</span>
                                <span v-if="opcoes['doadores']" class="material-icons icones">keyboard_arrow_up</span>
                            </div>

                            <div v-if="opcoes['doadores']" class="opcoes">
                                <a href="/doador">
                                    <div>
                                        <span class="material-icons icones">add</span>
                                        <p>Novo doador</p>
                                    </div>
                                </a>
                                <a href="/doador/consultar">
                                    <div>
                                        <span class="material-icons icones">search</span>
                                        <p>Consultar doadores</p>
                                    </div>
                                </a>
                                <a href="/relatorio-doador">
                                    <div>
                                        <span class="material-icons icones">account_box</span>
                                        <p>Relatório doador</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="categoria">
                            <div class="categoriaTitulo" @click="toggle('chamadas')">
                                <div>
                                    <span class="material-icons icones">assignment</span>
                                    <p>Chamadas</p>
                                </div>
                                <span v-if="!opcoes['chamadas']"
                                    class="material-icons icones">keyboard_arrow_down</span>
                                <span v-if="opcoes['chamadas']" class="material-icons icones">keyboard_arrow_up</span>
                            </div>

                            <div v-if="opcoes['chamadas']" class="opcoes">
                                <a href="/convocacao-tipada">
                                    <div>
                                        <span class="material-icons icones">calendar_today</span>
                                        <p>Convocação tipada</p>
                                    </div>
                                </a>
                                <a href="/convocacao-emergencial">
                                    <div>
                                        <span class="material-icons icones">assignment_late</span>
                                        <p>Emergencial</p>
                                    </div>
                                </a>
                                <a href="/convocacao-localidades-externas">
                                    <div>
                                        <span class="material-icons icones">explore</span>
                                        <p>Localidades externas</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {% if current_user.administrador %}
                        <div class="categoria">
                            <div class="categoriaTitulo" @click="toggle('hemocentros')">
                                <div>
                                    <span class="material-icons icones">local_hospital</span>
                                    <p>Hemocentros</p>
                                </div>
                                <span v-if="!opcoes['hemocentros']"
                                    class="material-icons icones">keyboard_arrow_down</span>
                                <span v-if="opcoes['hemocentros']"
                                    class="material-icons icones">keyboard_arrow_up</span>
                            </div>

                            <div v-if="opcoes['hemocentros']" class="opcoes">
                                {% if current_user.servidor %}
                                <a href="/hemocentro">
                                    <div>
                                        <span class="material-icons icones">add</span>
                                        <p>Novo hemocentro</p>
                                    </div>
                                </a>
                                {% endif %}
                                <a href="/hemocentro/consultar">
                                    <div>
                                        <span class="material-icons icones">search</span>
                                        <p>Consultar hemocentros</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}

                        {% if current_user.administrador %}
                        <div class="categoria">
                            <div class="categoriaTitulo" @click="toggle('captadores')">
                                <div>
                                    <span class="material-icons icones">portrait</span>
                                    <p>Captadores</p>
                                </div>
                                <span v-if="!opcoes['captadores']"
                                    class="material-icons icones">keyboard_arrow_down</span>
                                <span v-if="opcoes['captadores']" class="material-icons icones">keyboard_arrow_up</span>
                            </div>

                            <div v-if="opcoes['captadores']" class="opcoes">
                                <a href="/captador">
                                    <div>
                                        <span class="material-icons icones">add</span>
                                        <p>Novo captador</p>
                                    </div>
                                </a>
                                <a href="/captador/consulta">
                                    <div>
                                        <span class="material-icons icones">search</span>
                                        <p>Consultar captadores</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}


                    </div>

                    <div class="hemocentro">
                        <p>{{ current_user.get_hemocentro().get_nome() }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="barraLateralSombra" onclick="fecharMenu()"></div>

        <div class="caixaAuxiliar">
            <div class="caixaFlex">
                <div class="barraSuperior">
                    <div>
                        <span onclick="abrirMenu()" class="material-icons" id="menu">
                            menu
                        </span>
                    </div>
                    <div class="barraSuperiorConteudo">
                        <div>
                            {% if current_user.administrador and not current_user.servidor%}
                            <p>Administrador</p>
                            {% endif %}
                        </div>
                        <div class="linha"></div>
                        <div class="nomeCargo">
                            <p>{{ current_user.get_nome() }}</p>
                            <p id="cargo">{{ current_user.get_cargo() }}</p>
                        </div>
                        <div>
                            <a href="/logout"><span id="logout" class="material-icons icone">logout</span></a>
                        </div>
                        <div>
                            <a href="/perfil"><span class="material-icons icone">manage_accounts</span></a>
                        </div>
                    </div>
                    <div class="barraSuperiorPerfil">
                        <span onclick="abrirPerfil()" class="material-icons icone">account_circle</span>
                    </div>
                </div>
                <div id="barraLateralPerfil">
                    <div class="barraLateralPerfilIcon">
                        <span class="material-icons">
                            account_circle
                        </span>
                    </div>
                    <div class="barraLateralPerfilInfo">
                        <p><b>{{ current_user.get_nome() }}</b></p>
                        <p>{{ current_user.get_cargo() }}</p>
                    </div>
                    <div class="barraLateralPerfilDivAcoes">
                        <a href="/perfil">
                            <div class="barraLateralPerfilAcoes">
                                <p>Perfil</p>
                                <span class="material-icons">person</span>
                            </div>
                        </a>
                        <a href="/logout">
                            <div class="barraLateralPerfilAcoes">
                                <p>Sair</p>
                                <span class="material-icons">logout</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div onclick="fecharPerfil()" id="barraLateralPerfilSombra"></div>

                <main>
                    <div id="conteudoPagina">
                        {% block conteudo %}
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropdowns.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    {% block codigos %}
    {% endblock %}

</body>

</html>