{% extends "base.html" %}


{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/baseConvocacao.css') }}" rel="stylesheet">
{% endblock %}


{% block conteudo %}
<div class="contentorConteudo">
    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Chamadas ></p>
        <p>Convocação {{ tipo }}</p>
    </div>
    <div class="cartao noselect">
        <div class="titulo">
            <h1>Convocação {{ tipo }}</h1>
        </div>
        <div class="formulario">
            {% if resultado %}
            <div class="linhaFormulario ultimaLinhaInput SpcBtw">
            {% else %}
            <div class="linhaFormulario linhaSolitaria SpcBtw">
            {% endif%}
                <div class="flexivel">
                    <div class="campo" id="divTipagem">
                        <label for="tipagem">Tipo sanguíneo:</label>
                        <input type="text" id="tipagem" autocomplete="off">
                    </div>
                    <div class="campo" id="divIP">
                        <label for="itenspp">Itens por página:</label>
                        <input type="number" id="itenspp" autocomplete="off" value=5 max="50">
                    </div>
                    <a href="/convocacao-{{ tipo }}/resultado"><button class="botao btn-principal linhaMRReset">Buscar</button></a>
                </div>
                    <button class="botao btn-secundario linhaMRReset">Marcar Telefonados</button>
                </div>
            </div>
            {% if resultado %}
            <table class="table table-striped tabela tabelaFC">
                <thead>
                    <tr>
                        <th scope="col"><span class="material-icons icones">check_circle</span></th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Notificado</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Última doação</th>
                    </tr>
                </thead>
                <tbody>
                    {% block infoTabela %}
            
                    {% endblock %}
                </tbody>
            </table>
            <div class="linhaFormulario paginador">
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}