<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <title>Sistema de hemocentro</title>
</head>

<body class="bg-danger">
    <div class="contentor">

        <div class="d-flex flex-column p-3 barraLateral">
            <a href="/">
                <div class="divisaoLogo d-flex justify-content-center">
                    <img id="logoBarra" src="{{ url_for('static', filename='images/hemojipa3.png') }}">
                </div>
            </a>

            <div class="navegacao">
                <div>
                    <div class="categoria">
                        <div>
                            <span class="material-icons icones" id="icone-doacao">add_location</span>
                            <p>Doações</p>
                        </div>
                        <span class="material-icons icones">keyboard_arrow_down</span>
                    </div>
                    <div class="categoria">
                        <div>
                            <span class="material-icons icones">person_add</span>
                            <p>Doadores</p>
                        </div>
                        <span class="material-icons icones">keyboard_arrow_down</span>
                    </div>
                    <div class="categoria">
                        <div>
                            <span class="material-icons icones">assignment</span>
                            <p>Chamadas</p>
                        </div>
                        <span class="material-icons icones">keyboard_arrow_down</span>
                    </div>
                </div>
                <div class="hemocentro">
                    <p>Hemojipa</p>
                </div>
            </div>

        </div>
        <div class="barraSuperior">
            <div>
                <p>Administrador</p>
            </div>
            <div class="linha"></div>
            <div>
                <p>Servidor IFRO</p>
                <p>Sawdev</p>
            </div>
            <div>
                <span class="material-icons icone">account_circle</span>
            </div>
        </div>
    </div>
    {% block conteudo %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>