{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/captador.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<div class="contentorConteudo">
    <div class="bread noselect">

        <p>Inicial ></p>
        <p>Captadores ></p>

        {% if alterar %}
        <p>Alterar captador</p>
        {% else %}
        <p>Novo captador</p>
        {% endif %}

    </div>

    <div class="cartao noselect">

        <div class="titulo">

            {% if alterar %}
            <h1>Alterar captador</h1>
            {% else %}
            <h1>Novo captador</h1>
            {% endif %}

        </div>

        <div class="formulario">

            <div class="linhaFormulario">
                <div class="campo" id="divNome">
                    <label for="nome">Nome Completo:</label>
                    <input type="text" id="nome" autocomplete="off">
                </div>
                <div class="campo">
                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" autocomplete="off">
                </div>
                <div class="campo">
                    <label for="hemocentro">Hemocentro:</label>
                    <select name="hemocentro" id="hemocentro">
                        <option value="null" selected="selected" disabled>Selecione</option>
                        <option value="jipa">Hemojipa</option>
                        <option value="vha">Vilhena</option>
                    </select>
                </div>
                <div class="campo">
                    <label for="admn">Administrador:</label>
                    <select name="adm" id="adm">
                        <option value="cap" selected="selected">Captador</option>
                        <option value="admin">Admin</option>
                        <option value="vha">Servidor</option>
                    </select>
                </div>
            </div>

            <div class="linhaFormulario ultimaLinhaInput">
                <div class="campo">
                    <label for="mail">E-mail:</label>
                    <input type="text" id="mail" autocomplete="off">
                </div>
                <div class="campo">
                    <label for="login">Login:</label>
                    <input type="text" id="login" autocomplete="off">
                </div>
                <div class="campo">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" autocomplete="off">
                </div>
                <div class="campo">
                    <label for="senha">Confirmar senha:</label>
                    <input type="password" id="confirmarSenha" autocomplete="off">
                </div>
            </div>

            {% if alterar %}
            <div class="linhaBotoes SpcBtw">
                <button class="botao btn-principal linhaMRReset">Alterar</button>
                <button class="botao btn-alerta linhaMRReset">Excluir cadastro</button>
            </div>
            {% else %}
            <div class="linhaBotoes">
                <button class="botao btn-principal">Inserir e continuar</button>
                <button class="botao btn-principal">Inserir</button>
                <button class="botao btn-secundario linhaMRReset">Limpar</button>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}