{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/captador.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<div class="contentorConteudo">
    <div class="bread noselect">

        <p>Inicial ></p>
        <p>Captadores ></p>

        {% if captador and captador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor %}
        <p>Captador</p>
        {% else %}
        {% if alterar %}
        <p>Alterar captador</p>
        {% else %}
        <p>Novo captador</p>
        {% endif %}
        {% endif %}
        
    </div>

    <div class="cartao noselect">

        <div class="titulo">

            {% if captador and captador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor %}
            <h1>Captador</h1>
            {% else %}
            {% if alterar %}
            <h1>Alterar captador</h1>
            {% else %}
            <h1>Novo captador</h1>
            {% endif %}
            {% endif %}

        </div>

        <div class="formulario">
            {% if alterar %}
            <form action="/captador/alterar/{{captador.id}}" method="POST">
                {% else %}
                <form action="/captador" method="POST">
                    {% endif %}
                    {% if mensagem == "Inserido" %}
                    <div class="alert alert-success" role="alert">
                        Captador registrado com sucesso!
                    </div>
                    {% endif %}
                    {% if mensagem == "ErroBD" %}
                    <div class="alert2 alert alert-danger" role="alert">
                        O <b>banco de dados</b> já possui um usuário com login ou e-mail informado.
                    </div>
                    {% endif %}
                    <div class="linhaFormulario">
                        <div class="campo" id="divNome">
                            <label id="lbNome" for="nome">Nome Completo:</label>
                            <input type="text" id="nome" name="nome" autocomplete="off"
                                onfocus="removerClasseAlerta('nome')" {% if captador %} value="{{captador.nome}}" {%
                                endif %}>
                        </div>
                        <div class="campo">
                            <label for="celular" id="lbCelular">Celular:</label>
                            <input type="text" id="celular" name="celular" autocomplete="off"
                                onfocus="removerClasseAlerta('celular')" {% if captador %} value="{{captador.celular}}"
                                {% endif %}>
                        </div>
                        <div class="campo">
                            <label for="hemocentro" id="lbHemocentro">Hemocentro:</label>
                            {% if not current_user.servidor %}
                            <input type="text" id="hemocentro" name="hemocentro" autocomplete="off" readonly
                            {% for hemocentro in hemocentros %} 
                            {% if current_user.hemocentro_id == hemocentro.id %}
                            value="{{hemocentro.nome}}"      
                            {% endif %}
                            {% endfor %}>
                            {% endif %}
                            {% if current_user.servidor %}
                            <select name="hemocentro" id="hemocentro" onfocus="removerClasseAlerta('hemocentro')">
                                <option value="Selecione">Selecione</option>
                                {% for hemocentro in hemocentros %}
                                <option {% if captador %} selected="selected" {% endif %} value="{{hemocentro.id}}">
                                    {{hemocentro.nome}}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                        <div class="campo">
                            <label for="admn">Administrador:</label>
                            <select name="adm" id="adm">
                                <option value="Captador" {% if captador and captador.administrador==False and
                                    captador.servidor==False %} selected="selected" {% else %} selected="selected" {%
                                    endif %}>Captador</option>
                                {% if current_user.administrador or current_user.servidor %}
                                <option value="Administrador" {% if captador and captador.administrador %}
                                    selected="selected" {% endif %}>Administrador</option>
                                {% endif %}
                                {% if current_user.servidor %}
                                <option value="Servidor" {% if captador and captador.servidor %} selected="selected" {%
                                    endif %}>Servidor</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div
                        class="linhaFormulario ultimaLinhaInput {% if captador and captador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor %} linhaSolitaria {% endif %}">
                        <div class="campo {% if captador %} campoAlterar" id="tamMaxEmail" {% endif %}">
                            <label {% if mensagem=='ErroBD' %} class="txt-alerta" {% endif %} for="mail"
                                id="lbMail">E-mail:</label>
                            <input {% if mensagem=='ErroBD' %} class="borda-alerta" {% endif %} type="email" id="mail"
                                name="mail" autocomplete="off" onfocus="removerClasseAlerta('mail')" {% if captador %}
                                value="{{captador.email}}" {% endif %}>
                        </div>
                        <div class="campo {% if captador %} campoAlterar" id="tamMaxLogin" {% endif %}">
                            <label {% if mensagem=='ErroBD' %} class="txt-alerta" {% endif %} for="login"
                                id="lbLogin">Login:</label>
                            <input {% if mensagem=='ErroBD' %} class="borda-alerta" {% endif %} type="text" id="login"
                                name="login" autocomplete="off" onfocus="removerClasseAlerta('login')" {% if captador %}
                                value="{{captador.login}}" {% endif %}>
                        </div>
                        {% if not captador %}
                        <div class="campo">
                            <label for="senha" id="lbSenha">Senha:</label>
                            <input type="password" id="senha" name="senha" maxlength="16" autocomplete="off"
                                onfocus="removerClasseAlerta('senha')">
                        </div>
                        <div class="campo">
                            <label for="senha" id="lbConfirmarSenha">Confirmar senha: </label>
                            <input type="password" id="confirmarSenha" name="confirmarSenha" maxlength="16" autocomplete="off"
                                onfocus="removerClasseAlerta('confirmarSenha')">
                        </div>
                        {% endif %}
                    </div>

                    {% if alterar %}
                    {% if captador.hemocentro_id == current_user.hemocentro_id or current_user.servidor %}
                    <div class="linhaBotoes SpcBtw">
                        <button onclick="validarCampos(event)" class="botao btn-principal linhaMRReset">Alterar</button>
                        <button type="button" class="botao btn-alerta linhaMRReset" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Excluir cadastro</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Deseja realmente excluir o captador "{{ captador.nome }}" da base de dados?!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                        <a href="/captador/deletar/{{ captador.id }}"><button type="button"
                                                class="btn btn-danger">Confirmar</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="linhaBotoes">
                        <button onclick="validarCampos(event)" name="inserir" value="Inserir e continuar"
                            class="botao btn-principal">Inserir e continuar</button>
                        <button onclick="validarCampos(event)" name="inserir" value="Inserir"
                            class="botao btn-principal">Inserir</button>
                        <button type="button" onclick="limpar()"
                            class="botao btn-secundario linhaMRReset">Limpar</button>
                    </div>
                    {% endif %}

        </div>
    </div>
</div>

{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
<script src="{{ url_for('static', filename='js/captador.js') }}"></script>
{% endblock %}