{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/hemocentro.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Hemocentros ></p>
        <p>Consultar Hemocentros</p>
    </div>

    <div class="cartao noselect">
        <div class="titulo">
            <h1>Consultar hemocentro</h1>
        </div>
        <div class="formulario">
            <form action="/hemocentro/consultar" method="GET">
                <div class="linhaFormulario linhaSolitaria">
                    <div class="campo" id="divNome">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" autocomplete="off">
                    </div>
                    <div class="campo" id="divMunicipio">
                        <label for="municipio">Município:</label>
                        <select name="municipio" id="municipio">
                            <option value="null" selected="selected" disabled>Selecione</option>
                            {% for cidade in cidades %}
                            <option value="{{cidade.cidade_registrada}}">{{cidade.cidade_registrada}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="botao btn-principal" onclick="validarCampos(event)">Consultar</button>
                    <button type="button" class="botao btn-secundario linhaMRReset">Limpar</button>

                </div>
            </form>
        </div>
    </div>

    {% if lista_vazia %}
        <div class="cartao">
            <strong>Nenhum resultado encontrado</strong>
        </div>
    {% endif %}

    {% if resultado %}

    {% for hemocentro in lista_hemocentro %}
    <div class="cartao">
        <div class="formulario linhaSolitaria">
            <div class="flexivel SpcBtw">
                <div class="flexivel">
                    <div>
                        <label>Nome:</label>
                        <label class="mt16">Município:</label>
                        <label class="mt16">Telefone:</label>
                        <label class="mt16">Captadores:</label>
                    </div>
                    <div id="divResultados">
                        <p class="hemocentroResultado">{{ hemocentro.nome }}</p>
                        <p class="hemocentroResultado mt16">{{ hemocentro.municipio }}</p>
                        <p class="hemocentroResultado mt16">{{ hemocentro.telefone }}</p>
                        <a href="">
                            <p class="hemocentroResultado mt16">Consultar...</p>
                        </a>
                    </div>
                </div>
                <a href="/hemocentro/alterar/{{ hemocentro.id }}"><span class="material-icons editar">edit</span></a>

            </div>
        </div>
    </div>
    {% endfor %}

    {% endif %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Campos inválidos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Pelo menos um dos campos deve ser preenchido para realizar a busca
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/validarConsultaHemocentro.js') }}"></script>
{% if sucesso == "sucesso" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/mensagensSucesso.js') }}"></script>
{% endif %}
{% endblock %}