{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/consultaDoadores.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Doadores ></p>
        <p>Consultar doadores</p>
    </div>

    <div class="cartao noselect">
        <div class="titulo">
            <h1>Consulta de doadores</h1>
        </div>
        {% if mensagem == "sucesso" %}
        <div class="alert alert-success" role="alert">
            Captador <b>alterado</b> com sucesso
        </div>
        {% endif %}
        {% if mensagem == "deletado" %}
        <div class="alert alert-success" role="alert">
            Captador <b>excluído</b> com sucesso
        </div>
        {% endif %}
        <div class="formulario">
            <form action="/doador/consulta" method="GET">
                <div class="linhaFormulario linhaSolitaria">
                    <div class="campo" id="divNome">
                        <label for="nome">Nome:</label>
                        <input name="nome" type="text" id="nome" autocomplete="off" {% if nome_pesquisado %}
                            value="{{ nome_pesquisado }}" {% endif %}>
                    </div>
                    <div class="campo" id="divTipo">
                        <label for="tipo">Tipo:</label>
                        <select name="tipoSangue" id="tipoSangue">
                            <option value="null">Selecione</option>
                            <option {% if tipo_pesquisado=="A+" %} selected="selected" {% endif %} value="A+">A+
                            </option>
                            <option {% if tipo_pesquisado=="A-" %} selected="selected" {% endif %} value="A-">A-
                            </option>
                            <option {% if tipo_pesquisado=="B+" %} selected="selected" {% endif %} value="B+">B+
                            </option>
                            <option {% if tipo_pesquisado=="B-" %} selected="selected" {% endif %} value="B-">B-
                            </option>
                            <option {% if tipo_pesquisado=="AB+" %} selected="selected" {% endif %} value="AB+">AB+
                            </option>
                            <option {% if tipo_pesquisado=="AB-" %} selected="selected" {% endif %} value="AB-">AB-
                            </option>
                            <option {% if tipo_pesquisado=="O+" %} selected="selected" {% endif %} value="O+">O+
                            </option>
                            <option {% if tipo_pesquisado=="O-" %} selected="selected" {% endif %} value="O-">O-
                            </option>
                        </select>
                    </div>
                    <div class="campo" id="divRegistro">
                        <label for="registro">Num. registro:</label>
                        <input name="registro" type="number" id="registro" autocomplete="off" {% if registro_pesquisado
                            %} value="{{ registro_pesquisado }}" {% endif %} {% if registro_alterado %}
                            value="{{ registro_alterado }}" {% endif %}>
                    </div>
                    <div class="campo" id="divMunicipio">
                        <label for="municipio">Município:</label>
                        <select name="municipio" id="municipio">
                            <option value="null">Selecione</option>
                            {% for cidade in cidades %}
                            <option {% if municipio_pesquisado==cidade.cidade_registrada %} selected="selected" {% endif
                                %} value="{{cidade.cidade_registrada}}">{{cidade.cidade_registrada}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="campo" id="divItens">
                        <label for="itens">Itens por pág.:</label>
                        <input type="number" name="itens" id="itens" autocomplete="off" {% if itens %}
                            value="{{ itens }}" {% endif %}>
                    </div>
                    <div>
                        <button type="submit" class="botao btn-principal" onclick="validarCampos(event)">Buscar</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    {% if lista_vazia %}
    <div class="cartao">
        <strong>Nenhum resultado encontrado</strong>
    </div>
    {% endif %}

    {% if resultado %}

    <div class="cartao">
        <p id="resultadosEncontrados"><b>{{ paginas.total }} resultados encontrados.</b></p>
        <div class="linhaFormulario">
            <table class="table table-striped tabela ">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Fidelidade</th>
                        <th scope="col">Última doação</th>
                        <th scope="col">Municipio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doador in doadores %}
                    <tr class="rowActive" onclick="location.href = '/doador/alterar/{{ doador.numero_registro }}';">
                        <td>{{ doador.nome }}</td>
                        <td>{{ doador.tipo_sanguineo }}</td>
                        <td>
                            {% if doador.fidelidade %}
                            {{ doador.fidelidade }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if doador.get_ultima_doacao().data %}
                            {{ doador.get_ultima_doacao().data }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>{{ doador.municipio}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="linhaFormulario paginador">
            <nav>
                {% if paginas.pages >= 6 %}
                <ul class="pagination">
                    <li>
                        <a
                            href="/doador/consulta?page={{ 1 }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}">
                            <span class="material-icons iconesP">
                                first_page
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="iconesnP" {% if not paginas.prev_num==None %}
                            href="/doador/consulta?page={{ paginas.prev_num }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}"
                            {% endif %}>
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% if paginas.has_prev %}
                    <li>
                        <a
                            href="/doador/consulta?page={{ paginas.prev_num }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}">
                            {{ paginas.prev_num }}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="ativo" disable
                            href="/doador/consulta?page={{ paginas.page }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}">
                            {{ paginas.page }}
                        </a>
                    </li>
                    {% if paginas.has_next %}
                    <li>
                        <a
                            href="/doador/consulta?page={{ paginas.next_num }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}">
                            {{ paginas.next_num }}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="iconesnP" {% if not paginas.next_num==None %}
                            href="/doador/consulta?page={{ paginas.next_num }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}"
                            {% endif %}>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="/doador/consulta?page={{ paginas.pages }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}">
                            <span class="material-icons iconesP ">
                                last_page
                            </span>
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="pagination">
                    <li>
                        <a class="iconesnP" {% if not paginas.prev_num==None %}
                            href="/doador/consulta?page={{ paginas.prev_num }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}"
                            {% endif %}>
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for page in paginas.iter_pages() %}
                    <li {% if page==paginas.page %} disable {% endif %}>
                        <a class="{% if page==paginas.page %} ativo {% endif %}"
                            href="/doador/consulta?page={{ page }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}">{{
                            page }}</a>
                    </li>
                    {% endfor %}

                    <li>
                        <a class="iconesnP" {% if not paginas.next_num==None %}
                            href="/doador/consulta?page={{ paginas.next_num }}&itens={{ itens }}&nome={{ nome_pesquisado }}&tipoSangue={{ tipo_pesquisado }}&registro={{ registro_pesquisado }}&municipio={{ municipio_pesquisado }}"
                            {% endif %}>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
{% endif %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Campos inválidos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Pelo menos um dos campos deve ser preenchido para realizar a busca
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/validarConsultaDoador.js') }}"></script>
{% endblock %}