{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Captador ></p>
        <p>Consultar captadores</p>
    </div>

    <div class="cartao noselect">
        <div class="titulo">
            <h1>Consulta de captadores</h1>
        </div>
        <div class="formulario">
            <div class="linhaFormulario linhaSolitaria">
                <div class="campo" id="divNomeHemocentro">
                    <label for="hemocentro">Nome hemocentro:</label>
                    <input type="text" id="hemocentro" autocomplete="off">
                </div>
                <div class="campo" id="divMunicipio">
                    <label for="municipio">Município:</label>
                    <select name="cidade" id="cidade">
                        <option value="null" selected="selected" disabled>Selecione</option>
                        <option value="jipa">Ji-Paraná</option>
                        <option value="vha">Vilhena</option>
                        <option value="pvh">Porto Velho</option>
                    </select>
                </div>
                <div class="campo" id="divNome">
                    <label for="nome">Nome captador:</label>
                    <input type="text" id="nome" autocomplete="off">
                </div>
                <div class="campo" id="divItens">
                    <label for="itens">Itens por pág.:</label>
                    <input type="text" id="itens" autocomplete="off">
                </div>
                <div>
                    <a href="/consultar-captadores/resultado"><button
                            class="botao btn-principal linhaMRReset">Buscar</button></a>
                </div>
            </div>

        </div>
    </div>

    {% if resultado %}
    <div class="cartao">

        <div class="linhaFormulario">
            <table class="table table-striped tabela">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Admin.</th>
                        <th scope="col">Hemocentro</th>
                        <th scope="col">Município</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>José Adalberto Fernandes</td>
                        <td>(69) 9 8453-1615</td>
                        <td><span class="material-icons notificado">check_circle</span></td>
                        <td>Hemojipa</td>
                        <td>Ji-paraná</td>
                    </tr>
                    <tr>
                        <td>Cleberson Heltz Martins</td>
                        <td>(69) 9 6875-4895</td>
                        <td></td>
                        <td>Hemojipa</td>
                        <td>Ji-paraná</td>
                    </tr>
                    <tr>
                        <td>Janaina Alves Medeiros</td>
                        <td>(69) 9 8857-6521</td>
                        <td><span class="material-icons notificado">check_circle</span></td>
                        <td>Hemocentro</td>
                        <td>Vilhena</td>
                    </tr>
                    <tr>
                        <td>Alina Madeira Roçadas</td>
                        <td>(69) 9 8597-4689</td>
                        <td></td>
                        <td>Hemocentro</td>
                        <td>Vilhena</td>
                    </tr>
                    <tr>
                        <td>Catia Rafaella Tyller</td>
                        <td>(69) 9 8795-6824</td>
                        <td></td>
                        <td>Hemojipa</td>
                        <td>Ji-paraná</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="linhaFormulario paginador">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    {% endif %}
    
</div>

</div>
{% endblock %}