{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/hemocentro.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Hemocentros ></p>
        <p>Consultar Hemocentros</p>
    </div>

    <div class="cartao noselect">
        <div class="titulo">
            <h1>Consultar hemocentro</h1>
        </div>
        <div class="formulario">
            <form action="/hemocentro/consultar" method="GET">
                <div class="linhaFormulario linhaSolitaria">
                    <div class="campo" id="divNome">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" autocomplete="off">
                    </div>
                    <div class="campo" id="divMunicipio">
                        <label for="municipio">Município:</label>
                        <select name="cidade" id="cidade">
                            <option value="null" selected="selected" disabled>Selecione</option>
                            <option value="Ji-Paraná">Ji-Paraná</option>
                            <option value="Vilhena">Vilhena</option>
                            <option value="Porto Velho">Porto Velho</option>
                        </select>
                    </div>
                    <button type="submit" class="botao btn-principal">Consultar</button>
                    <button class="botao btn-secundario linhaMRReset">Limpar</button>
                </div>
            </form>
        </div>
    </div>

    {% if resultado %}

    {% for hemocentro in lista_hemocentro %}
    <div class="cartao">
        <div class="formulario linhaSolitaria">
            <div class="flexivel SpcBtw">
                <div class="flexivel">
                    <div>
                        <label>Nome:</label>
                        <label class="mt16">Município:</label>
                        <label class="mt16">Telefone:</label>
                        <label class="mt16">Captadores:</label>
                    </div>
                    <div id="divResultados">
                        <p class="hemocentroResultado">{{ hemocentro.nome }}</p>
                        <p class="hemocentroResultado mt16">{{ hemocentro.municipio }}</p>
                        <p class="hemocentroResultado mt16">{{ hemocentro.telefone }}</p>
                        <a href="">
                            <p class="hemocentroResultado mt16">Consultar...</p>
                        </a>
                    </div>
                </div>
                <a href="/hemocentro/alterar/{{ hemocentro.id }}"><span class="material-icons editar">edit</span></a>
                
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% endif %}
    
</div>
{% endblock %}

{% block codigos %}
{% if sucesso == "sucesso" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/mensagensSucesso.js') }}"></script>
{% endif %}
{% endblock %}