{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/hemocentro.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Hemocentros ></p>
        <p>Consultar hemocentros</p>
    </div>

    <div class="cartao noselect">
        <div class="titulo">
            <h1>Consultar hemocentro</h1>
        </div>
        <div class="formulario">
            <form action="/hemocentro/consultar/resultado" method="GET">
                <div class="linhaFormulario linhaSolitaria">
                    <div class="campo" id="divNome">
                        <label for="nome">Nome:</label>
                        <input value="{{ nome_pesquisado }}" type="text" id="nome" name="nome" autocomplete="off">
                    </div>
                    <div class="campo">
                        <div class="flexivel SpcBtw AlgEnd">
                            <label id="lbEstado" for="inputEstado">Estado:</label>
                        </div>
                        <input value="{{ estado_pesquisado }}" autocomplete="off" name="inputEstado" id="inputEstado" list="estado">
                        <datalist name="estado" id="estado">
                            {% for estado in estados %}
                            <option value="{{estado.nome}}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="campo">
                        <div class="flexivel SpcBtw AlgEnd">
                            <label id="lbMunicipio" for="inputMunicipio">Município:</label>
                        </div>
                        <input value="{{ municipio_pesquisado }}" autocomplete="off" name="inputMunicipio" id="inputMunicipio" list="municipio">
                        <datalist name="municipio" id="municipio">
                            {% for cidade in cidades %}
                            <option value="{{cidade.nome}}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <button type="submit" class="botao btn-principal" onclick="validarCampos(event)">Consultar</button>
                    <button type="button" class="botao btn-secundario linhaMRReset" onclick="limpar()">Limpar</button>

                </div>
            </form>
        </div>
    </div>

    {% if lista_vazia %}
        <div class="cartao">
            <strong>Nenhum resultado encontrado</strong>
        </div>
    {% endif %}

    {% if lista_hemocentro %}

    {% for hemocentro in lista_hemocentro %}
    <div class="cartao">
        <div class="formulario linhaSolitaria">
            <div class="flexivel SpcBtw">
                <div class="flexivel">
                    <div>
                        <label>Nome:</label>
                        <label class="mt16">Município:</label>
                        <label class="mt16">Telefone:</label>
                        <label class="mt16">Captadores:</label>
                    </div>
                    <div id="divResultados">
                        <p class="hemocentroResultado">{{ hemocentro.nome }}</p>
                        <p class="hemocentroResultado mt16">{{ hemocentro.get_municipio_nome() }}</p>
                        <p class="hemocentroResultado mt16">{{ hemocentro.telefone }}</p>
                        <a href="/captador/{{ hemocentro.nome }}">
                            <p class="hemocentroResultado mt16">Consultar...</p>
                        </a>
                    </div>
                </div>
                {% if current_user.servidor %}
                    <a href="/hemocentro/alterar/{{ hemocentro.id }}"><span class="material-icons editar">edit</span></a>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}

    {% endif %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Campos inválidos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Insira o nome ou estado e município para fazer a busca.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/validarConsultaHemocentro.js') }}"></script>
<script src="{{ url_for('static', filename='js/estadoCidade.js') }}"></script>
{% if sucesso == "sucesso" %}
<script src="{{ url_for('static', filename='js/mensagensSucesso.js') }}"></script>
{% endif %}
{% endblock %}