{% extends "baseConvocacao.html" %}

{% block infoTabela %}

<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Bernadette Pfannerstill</td>
    <td>(69) 9 8556-5884</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>A+</td>
    <td>24/12/2020</td>
</tr>
<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Noel Corwin</td>
    <td>(69) 9 8112-6523</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>A+</td>
    <td>24/12/2020</td>
</tr>
<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Sue Turner</td>
    <td>(69) 9 8922-5658</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>A+</td>
    <td>24/12/2020</td>
</tr>
<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Rafael Price</td>
    <td>(69) 9 8441-5653</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>A+</td>
    <td>24/12/2020</td>
</tr>
<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>José Maria Silva</td>
    <td>(69) 9 9685-2544</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>A+</td>
    <td>24/12/2020</td>
</tr>

{% endblock %}