{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/baseConvocacao.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">

        <p>Inicial ></p>
        <p>Chamadas ></p>
        <p>Convocados</p>

    </div>

    <div class="cartao noselect">

        <div class="titulo">
            <h1>Convocados</h1>
        </div>

        <div class="formulario">

            {% if resultado %}
            <div class="linhaFormulario ultimaLinhaInput SpcBtw">
            {% else %}
            <div class="linhaFormulario linhaSolitaria SpcBtw">
            {% endif%}

                <div class="flexivel">
                    <div class="campo" id="divCidade">
                        <label for="cidade">Cidade:</label>
                        <input type="text" id="cidade" autocomplete="off">
                    </div>
                    <div class="campo" id="divTelefone">
                        <label for="telefone">Telefone:</label>
                        <input type="text" id="telefone" autocomplete="off">
                    </div>
                    <div class="campo" id="divTipagem">
                        <label for="tipagem">Tipo sanguíneo:</label>
                        <input type="text" id="tipagem" autocomplete="off">
                    </div>
                    <div class="campo" id="divIP">
                        <label for="itenspp">Itens por página:</label>
                        <input type="number" id="itenspp" autocomplete="off" value=5 max="50">
                    </div>
                    <a href="/convocacao-{{ tipo }}/resultado"><button class="botao btn-principal linhaMRReset">Buscar</button></a>
                </div>
            </div>
        </div>

        {% if resultado %}
        <table class="table table-striped tabela">

            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Última doação</th>
                </tr>
            </thead>

            <tbody class="textStart">
                <tr>
                    <td>Salvatore Sawayn</td>
                    <td>(69) 9 9603-2556</td>
                    <td>Vilhena</td>
                    <td>A-</td>
                    <td>08/04/2021</td>
                </tr>
                <tr>
                    <td>Alma Grant</td>
                    <td>(69) 9 8113-9877</td>
                    <td>Vilhena</td>
                    <td>A-</td>
                    <td>08/04/2021</td>
                </tr>
                <tr>
                    <td>Dr. Kelvin Bernier</td>
                    <td>(69) 9 9115-6584</td>
                    <td>Vilhena</td>
                    <td>A-</td>
                    <td>08/04/2021</td>
                </tr>
                <tr>
                    <td>Gerardo Robel</td>
                    <td>(69) 9 9665-5236</td>
                    <td>Vilhena</td>
                    <td>A-</td>
                    <td>08/04/2021</td>
                </tr>
                <tr>
                    <td>Ms. Marty Satterfield</td>
                    <td>(69) 9 8112-3665</td>
                    <td>Vilhena</td>
                    <td>A-</td>
                    <td>08/04/2021</td>
                </tr>
            </tbody>
            
        </table>

        <div class="linhaFormulario paginador">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        {% endif %}

    </div>
</div>
{% endblock %}