{% extends "baseConvocacao.html" %}

{% block formHeader %}
    <form action="/convocacao-tipada/resultado" method="post">
{% endblock  %}

{% if listaVazia %}
    <strong>Nenhum resultado encontrado</strong>
{% endif %}

{% block infoTabela %}

{% for doador in doadores %}
<tr>
    <td>
        {% if doador.numero_registro in telefonados %} 
        <span onclick="adicionarTelefonado('{{ doador.numero_registro }}', event)" class="material-icons noselect azul">phone</span>
        {% else %}
        <span onclick="adicionarTelefonado('{{ doador.numero_registro }}', event)" class="material-icons noselect">phone</span>
        {% endif %}
    </td>
    <td>{{ doador.nome }}</td>
    <td>{% if doador.celular != "" %} {{ doador.celular }} {% else %} {{ doador.telefone }} {% endif %}</td>
    <td>{% if doador.avisado %}<span class="material-icons notificado">check_circle</span>{% endif %}</td>
    <td>{{ doador.tipo_sanguineo }}</td>
    <td>{{ doador.get_ultima_doacao().data }}</td>
</tr>
{% endfor %}

{% endblock %}