{% extends "baseConvocacao.html" %}

{% block infoTabela %}

<tr>
    <td>Salvatore Sawayn</td>
    <td>(69) 9 9603-2556</td>
    <td>Vilhena</td>
    <td>A-</td>
    <td>08/04/2021</td>
</tr>
<tr>
    <td>Alma Grant</td>
    <td>(69) 9 8113-9877</td>
    <td>Vilhena</td>
    <td>A-</td>
    <td>08/04/2021</td>
</tr>
<tr>
    <td>Dr. Kelvin Bernier</td>
    <td>(69) 9 9115-6584</td>
    <td>Vilhena</td>
    <td>A-</td>
    <td>08/04/2021</td>
</tr>
<tr>
    <td>Gerardo Robel</td>
    <td>(69) 9 9665-5236</td>
    <td>Vilhena</td>
    <td>A-</td>
    <td>08/04/2021</td>
</tr>
<tr>
    <td>Ms. Marty Satterfield</td>
    <td>(69) 9 8112-3665</td>
    <td>Vilhena</td>
    <td>A-</td>
    <td>08/04/2021</td>
</tr>

{% endblock %}