{% extends "baseConvocacao.html" %}

{% block infoTabela %}

<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Allan D'Amore</td>
    <td>(69) 9 9566-6558</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>O+</td>
    <td>30/12/2020</td>
</tr>
<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Kristin Schmidt</td>
    <td>(69) 9 8699-6523</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>O+</td>
    <td>30/12/2020</td>
</tr>
<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Lewis Sauer</td>
    <td>(69) 9 8112-5658</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>O+</td>
    <td>30/12/2020</td>
</tr>
<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Franklin Bauch</td>
    <td>(69) 9 8120-5653</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>O+</td>
    <td>30/12/2020</td>
</tr>
<tr>
    <td><input class="form-check-input" type="checkbox" value="" id="telefonado"></td>
    <td>Mrs. Lucille Bradtke</td>
    <td>(69) 9 9665-2544</td>
    <td><span class="material-icons notificado">check_circle</span></td>
    <td>O+</td>
    <td>30/12/2020</td>
</tr>

{% endblock %}