{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="dashboardSuperior">
    <div class="cartao">
        <h1>{{anual}}</h1>
        <p>Doações<br>{{hoje[2]}}</p>
    </div>
    <div class="cartao">
        <h1>{{mes}}</h1>
        <p>Doações<br>{{hoje[1]}}</p>
    </div>
    <div class="cartao">
        <h1>{{diaHoje}}</h1>
        <p>Doações<br>hoje</p>
    </div>
</div>
<div class="dashboardInferior">
    <div class="cartao divGrafico">
        <div class="graficoRS">
            <canvas class="grafico"></canvas>
        </div>
    </div>
    <div class="cartao divTabela">
        <table class="table table-striped tabela">
            <thead>
                <tr>
                    <th scope="col">Mês</th>
                    <th scope="col">Doações</th>
                </tr>
            </thead>
            <tbody>
                {% for doacoes in relatorioDoacoes %}
                    {% for key, value in doacoes.items() %}
                        <tr>
                            <td>{{key}}</td>
                            <td class="valor">{{value}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}