{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/detalhesDoacao.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Doações ></p>
        <p>{{ doacao.id }}</p>
    </div>

    <div class="cartao noselect">
        <div class="titulo">
            <h1>Detalhes da doação {{ doacao.id }}</h1>
        </div>
        <div class="formulario">
            <div class="linhaFormulario AlgSrt linhaSolitaria formularioResponsivo">
                <div class="dados">
                    <label>Núm. de regitro:</label>
                    <p>{{ doador.numero_registro }}</p>
                </div>
                <div class="dados">
                    <div class="flexivel SpcBtw">
                        <label class="marginR">Doador:</label>
                        <span class="material-icons iconesS" onclick="location.href = '/detalhes-doador/{{ doador.numero_registro }}';">person</span>
                    </div>
                    <p>{{ doador.nome }}</p>
                </div>
                <div class="dados">
                    <label>Tipo:</label>
                    <p>{{ doador.tipo_sanguineo }}</p>
                </div>
                <div class="dados">
                    <label>Fidelidade:</label>
                    <p>{{ doador.fidelidade }}</p>
                </div>
                <div class="dados">
                    <label>Convocação:</label>
                    <p>{{ doacao.convocacao }}</p>
                </div>
                <div class="dados">
                    <label>Unidade de coleta:</label>
                    <p>{{ hemocentro.nome }}</p>
                </div>
            </div>


        </div>
    </div>

    <div class="cartao noselect">
        <div class="titulo">
            <h1 class="tituloSecundario">Observações</h1>
        </div>
        <div class="formulario">
            <div class="linhaFormulario AlgSrt linhaSolitaria formularioResponsivo">
                <div class="dados">
                    <label>Data:</label>
                    <p>{{ doacao.data.strftime('%d/%m/%Y') }}</p>
                </div>
                <div class="dados">
                    <label>Observações:</label>
                    <p>{{ doacao.observacao }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}