{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/detalheDoadores.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Doadores ></p>
        <p>Relatório doador ></p>
        <p>{{ doador.nome }}</p>
    </div>

    <div class="cartao">
        <div class="titulo">
            <div class="flexivel SpcBtw">
                <div class="flexivel">
                    <h1>{{ doador.nome }}</h1>
                    <a href="/doador/alterar/{{ doador.numero_registro }}"><span class="material-icons iconesG">edit</span></a>
                    <a href="/alterar-inaptidao/{{ doador.numero_registro }}"><span class="material-icons iconesG">healing</span></a>
                    {% if not doador.inaptidao and not doador.contatado %}    
                    <a href="/alterar-contatado/{{ doador.numero_registro }}"><span class="material-icons iconesG">phone_in_talk</span></a>
                    {% endif %}
                </div>
                <p class="tipoSanguineo">{{ doador.tipo_sanguineo }}</p>
            </div>
        </div>

        <div class="formulario">
            <div class="linhaFormulario AlgSrt">
                <div class="dados">
                    <label>Núm. de registro:</label>
                    <p>{{ doador.numero_registro }}</p>
                </div>
                <div class="dados">
                    <div class="flexivel SpcBtw">
                        <label>Telefone:</label>
                        <span onclick="copyElementText('telefone')" class="material-icons iconesS">content_copy</span>
                    </div>
                    <p id="telefone">
                        {% if doador.telefone == "" %}
                        Não informado
                        {% else %}
                        {{ doador.telefone }}
                        {% endif %}
                    </p>
                </div>
                <div class="dados">
                    <div class="flexivel SpcBtw">
                        <label>Celular:</label>
                        <span onclick="copyElementText('celular')" class="material-icons iconesS">content_copy</span>
                    </div>
                    <p id="celular">
                        {% if doador.celular == "" %}
                        Não informado
                        {% else %}
                        {{ doador.celular }}
                        {% endif %}
                    </p>
                </div>
                <div class="dados">
                    <label>CPF:</label>
                    <p>{{ doador.cpf }}</p>
                </div>
                <div class="dados">
                    <label>Data de nascimento:</label>
                    <p>{{ doador.data_de_nascimento.strftime('%d/%m/%Y') }}</p>
                </div>
                <div class="dados">
                    <label>Idade:</label>
                    <p>{{ doador.get_idade() }} anos</p>
                </div>
                <div class="dados">
                    <label>Sexo:</label>
                    <p>
                        {% if doador.sexo == "mas" %}
                        Masculino
                        {% else %}
                        Feminino
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="linhaFormulario linhaSolitaria SpcBtw AlgSrt" id="linhaMedia">
                <div class="flexivel">
                    <div class="dados">
                        <label>Cadastro SUS:</label>
                        <p>{{ doador.cadastro_SUS }}</p>
                    </div>
                    <div class="dados">
                        <div class="flexivel SpcBtw">
                            <label>E-mail:</label>
                            <span onclick="copyElementText('email')" class="material-icons iconesS">content_copy</span>
                        </div>
                        <p id="email">
                            {% if doador.email == "" %}
                            Não informado
                            {% else %}
                            {{ doador.email }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="dados">
                        <label>Fidelidade:</label>
                        <p>
                            {% if doador.fidelidade %}
                            {{ doador.fidelidade }}
                            {% else %}
                            Não informada
                            {% endif %}
                        </p>
                    </div>
                    <div class="dados">
                        <label>Total:</label>
                        <p>{{ doador.get_total_doacoes() }} doações</p>
                    </div>
                    <div class="dados">
                        <label>Cidade:</label>
                        <p>{{ doador.get_municipio() }}</p>
                    </div>
                    {% if doador.inaptidao %}    
                    <div class="dados txt-alerta">
                        <label>Inapto até:</label>
                        <p>{{ doador.final_inaptidao.strftime('%d/%m/%Y') }}</p>
                    </div>
                    {% endif %}
                </div>
                <span onclick="toggleInfo()" id="infoIco" class="material-icons iconesGG">info</span>
                <span onclick="toggleInfo()" id="infoCloseIco"
                    class="material-icons iconesGG escondido">keyboard_arrow_up</span>
            </div>

            <div class="linhaFormulario AlgSrt escondido" id="linhaBaixa">
                <div class="dados">
                    <label>Estado civil:</label>
                    <p>
                        {% if doador.estado_civil %}
                        {{ doador.estado_civil }}
                        {% else %}
                        Não informada
                        {% endif %}
                    </p>
                </div>
                <div class="dados">
                    <label>Profissão:</label>
                    <p>
                        {% if doador.profissao %}
                        {{ doador.profissao }}
                        {% else %}
                        Não informada
                        {% endif %}
                    </p>
                </div>
                <div class="dados">
                    <label>Local:</label>
                    <p>
                        {% if doador.local_trabalho %}
                        {{ doador.local_trabalho }}
                        {% else %}
                        Não informado
                        {% endif %}
                    </p>
                </div>
                <div class="dados">
                    <label>Mãe:</label>
                    <p>
                        {% if doador.nome_mae %}
                        {{ doador.nome_mae }}
                        {% else %}
                        Não informado
                        {% endif %}
                    </p>
                </div>
                <div class="dados">
                    <label>Pai:</label>
                    <p>
                        {% if doador.nome_pai %}
                        {{ doador.nome_pai }}
                        {% else %}
                        Não informado
                        {% endif %}</p>
                </div>
                <div class="dados">
                    <label>Notificado:</label>
                    <p>
                        {% if doador.avisado %}
                        Sim
                        {% else %}
                        Não
                        {% endif %}
                    </p>
                </div>
                <div class="dados">
                    <label>Contatado:</label>
                    <p>
                        {% if doador.contatado %}
                        Sim
                        {% else %}
                        Não
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>
    </div>

    {% if doador.get_ultimas_dez_doacoes() | length > 0%}

    <div class="cartao">
        <table class="table table-striped tabela">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Convocação</th>
                    <th scope="col">Local de coleta</th>
                    <th scope="col">Observações</th>
                </tr>
            </thead>
            <tbody>
                {% for doacao in doador.get_ultimas_dez_doacoes() %}
                <tr>
                    <td>{{ doacao.data.strftime('%d/%m/%Y') }}</td>
                    <td>{{ doacao.convocacao }}</td>
                    <td>{{ doacao.get_local_coleta() }}</td>
                    <td>
                        {% if doacao.observacao == "" %}
                        -
                        {% else %}
                        {{ doacao.observacao }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block codigos %}
<script src="{{ url_for('static', filename='js/detalhesDoador.js') }}"></script>
<script src="{{ url_for('static', filename='js/copyToClipboard.js') }}"></script>
{% endblock %}