{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/doacao.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Doações ></p>
        <p>Nova doação ></p>
        <p>Busca por doador</p>
    </div>

    <div class="cartao noselect">
        <form action="/doacao/doador/pesquisa" method="GET">
            <div class="titulo">
                <h1>Busca por doador</h1>
            </div>
            <div class="formulario">
                <div class="linhaFormulario formularioResponsivo">
                    <div class="campo" id="divNome">
                        <label id="lbNome" for="nome">Nome:</label>
                        <input onfocus="removerAlerta('nome')" type="text" id="nome" name="nome" autocomplete="off" {% if nome %} value="{{nome}}" {%
                            endif %}>
                    </div>
                    <div class="campo" id="divCPF">
                        <label id="lbCpf" for="cpf">CPF:</label>
                        <input onfocus="removerAlerta('cpf')" type="text" id="cpf" name="cpf" autocomplete="off" {% if cpf %} value="{{cpf}}" {% endif
                            %}>
                    </div>
                    <div class="mb-24"></div>
                    <input onclick="validarCampo(event)" type="submit" id="btnPesquisa"
                        class="botao btn-principal linhaMRReset" value="Buscar" />
                </div>
            </div>
        </form>
    </div>
    {% if resultadoPesquisa %}
    <div class="cartao noselect">
        <p id="resultadosEncontrados"><b>{{ paginate.total }} resultados encontrados.</b></p>
        <div class="linhaFormulario">
            <table class="table table-striped tabela">
                <thead class="noselect">
                    <tr>
                        <th scope="col">Nº Registro</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultado in resultadoPesquisa %}
                    <tr class="rowActive"
                        onclick="location.href = '/doacao?numero_registro={{resultado.numero_registro}}&date={{date}}&convocacao={{convocacao}}';">
                        <td>{{resultado.numero_registro}}</td>
                        <td>{{resultado.nome}}</td>
                        <td>{{resultado.tipo_sanguineo}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="linhaFormulario paginador noselect">
            <nav>
                {% if paginate.pages >= 6 %}
                <ul class="pagination">
                    <li>
                        <a
                            href="/doacao/doador/pesquisa?page={{ 1 }}&nome={{nome}}&cpf={{cpf}}">
                            <span class="material-icons iconesP">
                                first_page
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="iconesnP" {% if paginate.prev_num==None %} {% else %}
                            href="/doacao/doador/pesquisa?page={{ paginate.prev_num }}&nome={{nome}}&cpf={{cpf}}"
                            {% endif %}>
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% if paginate.has_prev %}
                    <li>
                        <a
                            href="/doacao/doador/pesquisa?page={{ paginate.prev_num }}&nome={{nome}}&cpf={{cpf}}">
                            {{ paginate.prev_num }}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="ativo" disable
                            href="/doacao/doador/pesquisa?page={{ paginate.page }}&nome={{nome}}&cpf={{cpf}}">
                            {{ paginate.page }}
                        </a>
                    </li>
                    {% if paginate.has_next %}
                    <li>
                        <a
                            href="/doacao/doador/pesquisa?page={{ paginate.next_num }}&nome={{nome}}&cpf={{cpf}}">
                            {{ paginate.next_num }}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="iconesnP" {% if paginate.next_num==None %} {% else %}
                            href="/doacao/doador/pesquisa?page={{ paginate.next_num }}&nome={{nome}}&cpf={{cpf}}"
                            {% endif %}>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="/doacao/doador/pesquisa?page={{ paginate.pages }}&nome={{nome}}&cpf={{cpf}}">
                            <span class="material-icons iconesP ">
                                last_page
                            </span>
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="pagination">
                    <li>
                        <a class="iconesnP" {% if paginate.prev_num==None %} {% else %}
                            href="/doacao/doador/pesquisa?page={{ paginate.prev_num }}&nome={{nome}}&cpf={{cpf}}"
                            {% endif %}>
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for page in paginate.iter_pages() %}
                    <li {% if page==paginate.page %} disable {% endif %}>
                        <a class="{% if page==paginate.page %} ativo {% endif %}"
                            href="/doacao/doador/pesquisa?page={{ page }}&nome={{nome}}&cpf={{cpf}}">{{
                            page }}</a>
                    </li>
                    {% endfor %}

                    <li>
                        <a class="iconesnP" {% if paginate.next_num==None %} {% else %}
                            href="/doacao/doador/pesquisa?page={{ paginate.next_num }}&nome={{nome}}&cpf={{cpf}}"
                            {% endif %}>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
    {% endif %}
    {% if lista_vazia %}
    <div class="cartao">
        <strong>Nenhum resultado encontrado</strong>
    </div>
    {% endif %}
    {% endblock conteudo %}

    {% block codigos %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <script id="reload" src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
    <script src="{{ url_for('static', filename='js/doacao.js') }}"></script>
    <script src="{{ url_for('static', filename='js/doacaoDoador.js') }}"></script>
    {% endblock %}