{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/doacao.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Doações ></p>
        {% if alterar %}
        <p>Alterar doação</p>
        {% else %}
        <p>Nova doação</p>
        {% endif %}
    </div>

    <div class="cartao noselect">

        <div class="titulo">
            {% if alterar %}
            <h1>Alterar doação</h1>
            {% else %}
            <h1>Nova doação</h1>
            {% endif %}
        </div>

        <div class="formulario">
            {% if alterar %}
            <form action="/doacao/alterar/" method="POST">
            {% else %}
            <form action="/doacao" method="POST">
            {% endif %}
            {% if mensagem == "Inserido" %}
                <div class="alert alert-success" role="alert">
                    Doação registrada com sucesso
                </div>
            {% endif %}
            {% if mensagem == "ErroBD" %}
            <div class="alert2 alert alert-danger" role="alert">
                Erro ao inserir na <b>base de dados</b>.
            </div>
            {% endif %}
            {% if mensagem == "ErroBD_2" %}
            <div class="alert2 alert alert-danger" role="alert">
                Número de registro não confere com o devivo doador. Erro:#<b>base de dados</b>.
            </div>
            {% endif %}
            {% if mensagem == "ErroBD_3" %}
            <div class="alert2 alert alert-danger" role="alert">
                Erro inesperado na troca de fidelização. Erro:#<b>base de dados</b>.
            </div>
            {% endif %}
            {% if mensagem == "ErroBD_4" %}
            <div class="alert2 alert alert-danger" role="alert">
                <b>Número de registro</b> não encontrado.
            </div>
            {% endif %}
            {% if mensagem == "ErroBD_5" %}
            <div class="alert2 alert alert-danger" role="alert">
                O <b>doador</b> já alcançou oo limite superior de idade (61 anos).
            </div>
            {% endif %}
            {% if mensagem == "ErroBD_6" %}
            <div class="alert2 alert alert-warning" role="alert">
                O <b>doador</b> ainda não completou o tempo de cadência de doação desejável (Feminino = 4 meses, Masculino = 3 meses).
            </div>
            {% endif %}
            <div class="linhaFormulario formularioResponsivo">
                <div class="campo" id="divRegistro">
                    <div class="flexivel">
                        <label for="numRegistro" id="lbRegistro">Nº registro:</label>
                        <label class="txt-alerta ast">&nbsp;*</label>
                    </div>
                    <div class="flexivel AlgCenter">
                        <input maxlength="12" type="text" id="numRegistro" name="numRegistro" autocomplete="off" 
                        {% if doador %} value="{{doador.numero_registro}}" {% endif %}
                        {% if numero_registro %} value="{{numero_registro}}" {% endif %}
                        onfocus="removerClasseAlerta('numRegistro')">
                        <div>
                            <input name="botao" class="material-icons iconesS btnPesquisaIcon" value="search" type="submit">
                        </div>
                    </div>
                </div>
                <div class="campo" id="divNome">
                    <div class="flexivel">
                        <label for="nome" id="lbNome">Nome do doador:</label>
                        <label class="txt-alerta ast">&nbsp;*</label>
                    </div>
                    <input type="text" id="nome" name="nome" readonly 
                    {% if doador %} value="{{doador.nome}}" {% endif %}
                    onfocus="removerClasseAlerta('nome')">
                </div>
                <div class="campo" id="divTipo">
                    <div class="flexivel">
                        <label for="tipoSangue" id="lbTipo">Tipo:</label>
                        <label class="txt-alerta ast">&nbsp;*</label>
                    </div>
                    <input type="text" id="tipoSangue" name="tipoSangue" readonly 
                    {% if doador %} value="{{doador.tipo_sanguineo}}" {% endif %}
                    onfocus="removerClasseAlerta('tipoSangue')">
                </div>
                <div class="campo" id="divFidelidade">
                    <div class="flexivel">
                        <label for="fidelidade" id="lbFidelidade">Fidelidade:</label>
                        <label class="txt-alerta ast">&nbsp;*</label>
                    </div>
                    <select id="fidelidade" name="fidelidade"
                    onfocus="removerClasseAlerta('fidelidade')">
                    <option value="Selecione" {% if not doador %} selected="select" {% endif %}>Selecione</option>
                    <option value="Exporádico" {% if doador and doador.fidelidade == "Exporádico" %} selected="select" {% endif %}>Exporádico</option>
                    <option value="Fidelizado" {% if doador and doador.fidelidade == "Fidelizado" %} selected="select" {% endif %}>Fidelizado</option>
                    </select>
                </div>
            </div>
            <div class="linhaFormulario ultimaLinhaInput formularioResponsivo">
                <div class="campo" id="divData">
                    <div class="flexivel">
                        <label for="data" id="lbData">Data:</label>
                        <label class="txt-alerta ast">&nbsp;*</label>
                    </div>
                    <input class="data" type="text" id="data" name="data" value={{date}} autocomplete="off"
                    onfocus="removerClasseAlerta('data')">
                </div>
                <div class="campo" id="divConvocacao">
                    <div class="flexivel">
                        <label for="convocacao" id="lbConvocacao">Convocação:</label>
                        <label class="txt-alerta ast">&nbsp;*</label>
                    </div>
                    <select name="convocacao" id="convocacao" onfocus="removerClasseAlerta('convocacao')">
                        <option value="Selecione" {% if not convocacao %} selected="select" {% endif %}>Selecione</option>
                        <option value="Reposição" {% if convocacao and convocacao == "Reposição" %} selected="select" {% endif %}>Reposição</option>
                        <option value="Voluntário" {% if convocacao and convocacao == "Voluntário" %} selected="select" {% endif %}>Voluntário</option>
                    </select>
                </div>
                <div class="campo" id="divObservacoes">
                    <label for="observacoes">Observações:</label>
                    <input type="text" id="observacoes" name="observacoes" autocomplete="off"
                        placeholder="Caso não tenha, deixe em branco.">
                </div>
            </div>
            <div class="linhaFormulario flexivel mb-24">
                <label class="txt-alerta ast">*</label>
                <p>&ensp;Campos obrigatórios</p>
            </div>
            <div class="linhaBotoes">
                <button onclick="validarCampos(event)" name="botao" value="Inserir e continuar" class="botao btn-principal">Inserir e continuar</button>
                <button onclick="validarCampos(event)" name="botao" value="Inserir" class="botao btn-principal">Inserir</button>
                <button type="button" onclick="limpar()" class="botao btn-secundario linhaMRReset">Limpar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
<script src="{{ url_for('static', filename='js/doacao.js') }}"></script>
{% endblock  %}