{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/doador.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Doadores ></p>
        {% if doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor %}
        <p>Doador</p>
        {% else %}
        {% if alterar %}
        <p>Alterar doador</p>
        {% else %}
        <p>Novo doador</p>
        {% endif %}
        {% endif %}

    </div>

    <div class="cartao noselect">

        <div class="titulo">

            {% if doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor %}
            <h1>Doador</h1>
            {% else %}
            {% if alterar %}
            <h1>Alterar doador</h1>
            {% else %}
            <h1>Novo doador</h1>
            {% endif %}
            {% endif %}
            
        </div>

        <div class="formulario">
            {% if alterar %}
            <form action="/doador/alterar/{{doador.numero_registro}}/{{ doador.hemocentro_id }}" method="POST">
                {% else %}
                <form action="/doador" method="POST">
                    {% endif %}
                    {% if sucesso %}
                    <div class="alert alert-success" role="alert">
                        Doador registrado com sucesso
                    </div>
                    {% endif %}
                    <div class="linhaFormulario formularioResponsivo">
                        <div class="campo" id="divRegistro">
                            <div class="flexivel">
                                <label id="lbNumRegistro" for="numRegistro">Nº registro:</label>
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <input name="numRegistro" type="number" id="numRegistro" autocomplete="off"
                                onfocus="removerClasseAlerta('numRegistro')" {% if alterar %}
                                value="{{ doador.numero_registro }}" disabled {% endif %}>
                        </div>
                        <div class="campo" id="divNome">
                            <div class="flexivel">
                                <label id="lbNome" for="nome">Nome Completo:</label>                                    
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <input name="nome" type="text" id="nome" autocomplete="off"
                                onfocus="removerClasseAlerta('nome')" {% if reload %} value="{{ nomeBKP }}" {% endif %}
                                {% if alterar %} value="{{ doador.nome }}" {% endif %}>
                        </div>
                        <div class="campo" id="divCpf">
                            <div class="flexivel">
                                <label id="lbCpf" for="cpf">CPF:</label>
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <input name="cpf" type="text" id="cpf" autocomplete="off"
                                onfocus="removerClasseAlerta('cpf')" {% if reload %} value="{{ cpfBKP }}" {% endif %} {%
                                if alterar %} value="{{ doador.cpf }}" {% endif %}>
                        </div>
                        <div class="campo" id="divSexo">
                            <div class="flexivel">
                                <label id="lbSexo" for="sexo">Sexo:</label>
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <select name="sexo" id="sexo" onfocus="removerClasseAlerta('sexo')">
                                <option value="selecione" selected="selected" >Selecione</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'fem') or (reload and sexoBKP == 'fem') %} selected="selected" {% endif %} value="fem">Feminino</option>
                                <option {% if (alterar and doador.sexo == 'mas') or (reload and sexoBKP == 'mas') %} selected="selected" {% endif %} value="mas">Masculino</option>
                            </select> 
                        </div>
                        <div class="campo" id="divSangue">
                            <div class="flexivel">
                                <label id="lbTipoSangue" for="tipoSangue">Tipo sanguíneo:</label>
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <select name="tipoSangue" id="tipoSangue" onfocus="removerClasseAlerta('tipoSangue')">
                                <option value="selecione">Selecione</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'A+') or (reload and tipoSangueBKP == 'A+') %} selected="selected" {% endif %} value="A+">A+</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'A-') or (reload and tipoSangueBKP == 'A-') %} selected="selected" {% endif %} value="A-">A-</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'B+') or (reload and tipoSangueBKP == 'B+') %} selected="selected" {% endif %} value="B+">B+</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'B-') or (reload and tipoSangueBKP == 'B-') %} selected="selected" {% endif %} value="B-">B-</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'AB+') or (reload and tipoSangueBKP == 'AB+') %} selected="selected" {% endif %} value="AB+">AB+</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'AB-') or (reload and tipoSangueBKP == 'AB-') %} selected="selected" {% endif %} value="AB-">AB-</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'O+') or (reload and tipoSangueBKP == 'O+') %} selected="selected" {% endif %} value="O+">O+</option>
                                <option {% if (alterar and doador.tipo_sanguineo == 'O-') or (reload and tipoSangueBKP == 'O-') %} selected="selected" {% endif %} value="O-">O-</option>
                            </select>
                        </div>
                    </div>

                    <div class="linhaFormulario formularioResponsivo">
                        <div class="campo">
                            <div class="flexivel">
                                <label id="lbNascimento" for="nascimento">Data de Nascimento:</label>
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <input class="data" name="nascimento" type="text" id="nascimento" autocomplete="off"
                                onfocus="removerClasseAlerta('nascimento')" {% if reload %} value="{{ nascimentoBKP }}"
                                {% endif %} {% if alterar %} value="{{ doador.data_de_nascimento.strftime('%d-%m-%Y') }}" {% endif %}>
                        </div>
                        <div class="campo">
                            <div class="flexivel">
                                <label id="lbSus" for="sus">Cadastro do SUS:</label>
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <input name="sus" type="text" id="sus" autocomplete="off"
                                onfocus="removerClasseAlerta('sus')" {% if reload %} value="{{ susBKP }}" {% endif %} {%
                                if alterar %} value="{{ doador.cadastro_SUS }}" {% endif %}>
                        </div>
                        <div class="campo">
                            <label id="lbEstadoCivil" for="estadoCivil">Estado civil:</label>
                            <input name="estadoCivil" type="text" id="estadoCivil" autocomplete="off" {% if reload %}
                                value="{{ estadoCivilBKP }}" {% endif %} {% if alterar %}
                                value="{{ doador.estado_civil }}" {% endif %}>
                        </div>
                        <div class="campo">
                            <label id="lbCelular" for="celular">Celular:</label>
                            <input name="celular" type="text" id="celular" autocomplete="off" {% if reload %}
                                value="{{ celularBKP }}" {% endif %} {% if alterar %} value="{{ doador.celular }}" {%
                                endif %}>
                        </div>
                        <div class="campo">
                            <label id="lbTelefone" for="telefone">Telefone:</label>
                            <input name="telefone" type="text" id="telefone" autocomplete="off"
                                onfocus="removerClasseAlerta('telefone')" {% if reload %} value="{{ telefoneBKP }}" {%
                                endif %} {% if alterar %} value="{{ doador.telefone }}" {% endif %}>
                        </div>
                    </div>

                    <div class="linhaFormulario formularioResponsivo">
                        <div class="campo">
                            <label id="lbMail" for="mail">E-mail:</label>
                            <input name="mail" type="email" id="mail" autocomplete="off" {% if reload %}
                                value="{{ mailBKP }}" {% endif %} {% if alterar %} value="{{ doador.email }}" {% endif
                                %}>
                        </div>
                        <div class="campo">
                            <label id="lbAviso" for="aviso">Receber aviso por:</label>
                            <select name="aviso" id="aviso">
                                {% if alterar %}
                                <option value="nao">Não receber</option>
                                <option value="email" {% if  doador.contatos_preferidos == 'email' %} selected="selected" {% endif %}>E-mail</option>
                                <option value="sms" {% if  doador.contatos_preferidos == 'sms' %} selected="selected" {% endif %}>SMS</option>
                                <option value="email&sms" {% if  doador.contatos_preferidos == 'email&sms' %} selected="selected" {% endif %}>E-mail + SMS</option>
                                {% else %}
                                <option value="nao">Não receber</option>
                                <option value="email" {% if  avisoBKP == 'email' %} selected="selected" {% endif %}>E-mail</option>
                                <option value="sms" {% if  avisoBKP == 'sms' %} selected="selected" {% endif %}>SMS</option>
                                <option value="email&sms" {% if  avisoBKP == 'email&sms' %} selected="selected" {% endif %}>E-mail + SMS</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="campo">
                            <div class="flexivel">
                                <label id="lbEstado" for="inputEstado">Estado:</label>
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <input autocomplete="off" name="inputEstado" id="inputEstado" list="estado" value="{{current_user.get_hemocentro().get_estado().nome}}">
                            <datalist name="estado" id="estado">
                                {% for estado in estados %}
                                <option value="{{estado.nome}}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="campo">
                            <div class="flexivel">
                                <label id="lbMunicipio" for="municipio">Município:</label>
                                {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                                <label class="txt-alerta ast">&nbsp;*</label>
                                {% endif %}
                            </div>
                            <input autocomplete="off" name="inputMunicipio" id="inputMunicipio" list="municipio" value="{{current_user.get_hemocentro().get_municipio_nome()}}">
                            <datalist name="municipio" id="municipio">
                                {% for cidade in cidades %}
                                <option value="{{cidade.nome}}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="linhaFormulario formularioResponsivo">
                        <div class="campo">
                            <label id="lbProfissao" for="profissao">Profissão:</label>
                            <input name="profissao" type="text" id="profissao" autocomplete="off" {% if reload %}
                                value="{{ profissaoBKP }}" {% endif %} {% if alterar %} value="{{ doador.profissao }}"
                                {% endif %}>
                        </div>
                        <div class="campo">
                            <label id="lbLocalTrabalho" for="localTrabalho">Local de trabalho:</label>
                            <input name="localTrabalho" type="text" id="localTrabalho" autocomplete="off" {% if reload
                                %} value="{{ localTrabalhoBKP }}" {% endif %} {% if alterar %}
                                value="{{ doador.local_trabalho }}" {% endif %}>
                        </div>      
                        <div class="campo">
                            <label for="estadoAptidao">Inaptidão:</label>
                            <select name="estadoAptidao" id="estadoAptidao" {% if alterar %} disabled {% endif %}>
                                {% if alterar %}
                                <option value="apto" >Apto</option>
                                <option value="inapto" 
                                {% if  doador.inaptidao %} selected="selected" {% endif %}>Inapto</option>
                                {% else %}
                                <option value="apto">Apto</option>
                                <option value="inapto">Inapto</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="campo">
                            <label id="lbDataInaptidao" for="dataInaptidao">Data Inaptidão:</label>
                            <input onfocus="removerClasseAlerta('inaptidao')" class="data" name="dataInaptidao" type="text" id="dataInaptidao" autocomplete="off" {% if reload %} value="{{ dataInaptidaoBKP }}" {% endif %} 
                            {% if alterar %} value="{{ doador.final_inaptidao }}" disabled {% endif %}>
                        </div>
                    </div>

                    <div class="linhaFormulario ultimaLinhaInput formularioResponsivo mb-24{% if doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor %} linhaSolitaria {% endif %}">
                        <div class="campo" id="divMae">
                            <label id="lbMae" for="mae">Nome da mãe:</label>
                            <input name="mae" type="text" id="mae" autocomplete="off" {% if reload %}
                                value="{{ maeBKP }}" {% endif %} {% if alterar %} value="{{ doador.nome_mae }}" {% endif
                                %}>
                        </div>
                        <div class="campo" id="divPai">
                            <label id="lbPai" for="pai">Nome do pai:</label>
                            <input name="pai" type="text" id="pai" autocomplete="off" {% if reload %}
                                value="{{ paiBKP }}" {% endif %} {% if alterar %} value="{{ doador.nome_pai }}" {% endif
                                %}>
                        </div>
                    </div>

                    {% if not (doador and doador.hemocentro_id != current_user.hemocentro_id and not current_user.servidor) %}
                    <div class="linhaFormulario flexivel">
                        <label class="txt-alerta ast">*</label>
                        <p>&ensp;Campos obrigatórios</p>
                    </div>
                    {% endif%}
                    
                    {% if alterar %} 
                    {% if doador.hemocentro_id == current_user.hemocentro_id or current_user.servidor %}
                    <div class="linhaBotoes SpcBtw">
                        <button type="submit" class="botao btn-principal">Alterar</button>
                        <button type="button" class="botao btn-alerta linhaMRReset" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Excluir cadastro</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Deseja realmente excluir o doador "{{ doador.nome }}" da base de dados?!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                        <a href="/doador/deletar/{{ doador.numero_registro }}/{{ doador.hemocentro_id }}"><button type="button"
                                                class="btn btn-danger">Confirmar</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}

                    <div class="linhaBotoes">
                        <input onclick="validarCampos(event)" type="submit" name="inserir" class="botao btn-principal"
                            value="Inserir e continuar" />
                        <input onclick="validarCampos(event)" type="submit" name="inserir" class="botao btn-principal"
                            value="Inserir" />
                        <button type="button" class="botao btn-secundario linhaMRReset"
                            onclick="limpar()">Limpar</button>
                    </div>

                    {% endif %}

                </form>
        </div>
    </div>
</div>

{% endblock %}
{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
<script src="{{ url_for('static', filename='js/doador.js') }}"></script>
<script src="{{ url_for('static', filename='js/estadoCidade.js') }}"></script>
{% endblock %}