{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Hemocentros ></p>
        {% if alterar %}
        <p>Alterar hemocentro</p>
        {% else %}
        <p>Novo hemocentro</p>
        {% endif %}
    </div>

    <div class="cartao noselect">

        <div class="titulo">
            {% if alterar %}
            <h1>Alterar hemocentro</h1>
            {% else %}
            <h1>Novo hemocentro</h1>
            {% endif %}
        </div>

        <div class="formulario">
            {% if alterar %}
            <form action="/hemocentro/alterar/{{hemocentro.id}}" method="POST" enctype="multipart/form-data">
                {% else %}
                <form action="/hemocentro" method="POST" enctype="multipart/form-data">
                    {% endif %}
                    {% if sucesso %}
                    <div class="alert alert-success" role="alert">
                        Hemocentro registrado com sucesso
                    </div>
                    {% endif %}
                    <div class="linhaFormulario ultimaLinhaInput">
                        <div class="campo" id="divNome">
                            <label id="lbNome" for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" autocomplete="off"
                                onfocus="removerClasseAlerta('nome')"
                                {% if alterar %} 
                                value="{{ hemocentro.nome }}" 
                                {% endif %}>
                        </div>
                        <div class="campo">
                            <label id="lbTelefone" for="telefone">Telefone:</label>
                            <input type="text" id="telefone" name="telefone" autocomplete="off"
                            {% if alterar %}
                                value="{{ hemocentro.telefone }}" 
                            {% endif %} onfocus="removerClasseAlerta('telefone')">
                        </div>
                        <div class="campo">
                            <div class="flexivel SpcBtw AlgEnd">
                                <label id="lbEstado" for="inputEstado">Estado:</label>
                            </div>
                            <input autocomplete="off" name="inputEstado" id="inputEstado" list="estado" value="{{current_user.get_hemocentro().get_estado().nome}}">
                            <datalist name="estado" id="estado">
                                {% for estado in estados %}
                                <option value="{{estado.nome}}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="campo">
                            <div class="flexivel SpcBtw AlgEnd">
                                <label id="lbMunicipio" for="municipio">Município:</label>
                            </div>
                            <input autocomplete="off" name="inputMunicipio" id="inputMunicipio" list="municipio" value="{{current_user.get_hemocentro().get_municipio_nome()}}">
                            <datalist name="municipio" id="municipio">
                                {% for cidade in cidades %}
                                <option value="{{cidade.nome}}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="campo">
                            <label for="img">Imagem:</label>
                            <input type="file" id="img" name="img" autocomplete="off">
                        </div>
                    </div>

                    {% if alterar %}

                    <div class="linhaBotoes SpcBtw">
                        <button type="submit" class="botao btn-principal">Alterar</button>
                        <button type="button" class="botao btn-alerta linhaMRReset" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Excluir cadastro</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Deseja realmente deletar o hemocentro "{{ hemocentro.nome }}" da base de dados?!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                        <a href="/hemocentro/deletar/{{ hemocentro.id }}"><button type="button"
                                                class="btn btn-danger">Confirmar</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}

                    <div class="linhaBotoes">
                        <input onclick="validarCampos(event)" type="submit" name="inserir" class="botao btn-principal"
                            value="Inserir e continuar" />
                        <input onclick="validarCampos(event)" type="submit" name="inserir" class="botao btn-principal"
                            value="Inserir" />
                    </div>

                    {% endif %}
                </form>
        </div>
    </div>
</div>

{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
<script src="{{ url_for('static', filename='js/hemocentro.js') }}"></script>
<script src="{{ url_for('static', filename='js/estadoCidade.js') }}"></script>
{% endblock %}