{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Hemocentros ></p>
        {% if alterar %}
        <p>Alterar hemocentro</p>
        {% else %}
        <p>Novo hemocentro</p>
        {% endif %}
    </div>

    <div class="cartao noselect">

        <div class="titulo">
            {% if alterar %}
            <h1>Alterar hemocentro</h1>
            {% else %}
            <h1>Novo hemocentro</h1>
            {% endif %}
        </div>

        <div class="formulario">
            {% if alterar %}
            <form action="/hemocentro/alterar/{{hemocentro.id}}" method="POST">
                {% else %}
                <form action="/hemocentro" method="POST">
                    {% endif %}
                    {% if sucesso %}
                    <div class="alert alert-success" role="alert">
                        Hemocentro registrado com sucesso
                    </div>
                    {% endif %}
                    <div class="linhaFormulario ultimaLinhaInput">
                        <div class="campo" id="divNome">
                            <label id="lbNome" for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" autocomplete="off"
                                onfocus="removerClasseAlerta('nome')" 
                                {% if reload %}
                                value="{{ nomeBKP }}" 
                                {% endif %} 
                                {% if alterar %} 
                                value="{{ hemocentro.nome }}" 
                                {% endif %}>
                        </div>
                        <div class="campo">
                            <label id="lbTelefone" for="telefone">Telefone:</label>
                            <input type="text" id="telefone" name="telefone" autocomplete="off"
                            {% if reload %}
                                value="{{ telefoneBKP }}" 
                            {% endif %} 
                            {% if alterar %}
                                value="{{ hemocentro.telefone }}" 
                            {% endif %} onfocus="removerClasseAlerta('telefone')">
                        </div>
                        <div class="campo">
                            <label id="lbMunicipio" for="municipio">Município:</label>
                            <select name="municipio" id="municipio" onfocus="removerClasseAlerta('municipio')" {% if
                                alterar %} disabled {% endif %}>
                                <option value="selecione" {% if not alterar %} selected="selected" {% endif %}>Selecione
                                </option>
                                {% if alterar %}
                                <option value="{{hemocentro.municipio}}" selected="selected">{{hemocentro.municipio}}
                                </option>
                                {% else %}
                                {% for cidade in cidades %}
                                <option value="{{cidade.nome}}">{{cidade.nome}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="campo">
                            <label for="img">Imagem:</label>
                            <input type="text" id="img" name="img" autocomplete="off"
                            {% if reload %}
                                value="{{ imgBKP }}" 
                            {% endif %}  
                            {% if alterar %}
                            value="{{hemocentro.urlImg}}" 
                            {% endif %}>
                        </div>
                    </div>

                    {% if alterar %}

                    <div class="linhaBotoes SpcBtw">
                        <button type="submit" class="botao btn-principal">Alterar</button>
                        <button type="button" class="botao btn-alerta linhaMRReset" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Excluir cadastro</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Deseja realmente deletar o hemocentro "{{ hemocentro.nome }}" da base de dados?!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                        <a href="/hemocentro/deletar/{{ hemocentro.id }}"><button type="button"
                                                class="btn btn-danger">Confirmar</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}

                    <div class="linhaBotoes">
                        <input onclick="validarCampos(event)" type="submit" name="inserir" class="botao btn-principal"
                            value="Inserir e continuar" />
                        <input onclick="validarCampos(event)" type="submit" name="inserir" class="botao btn-principal"
                            value="Inserir" />
                        <button type="button" class="botao btn-secundario linhaMRReset"
                            onclick="limpar()">Limpar</button>
                    </div>

                    {% endif %}
                </form>
        </div>
    </div>
    <div class="modal fade" id="addCidade" tabindex="-1" aria-labelledby="addCidadeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCidadeLabel">Adicionar cidade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/cidade/nova/hemocentro" method="POST">
                    <div class="modal-body">
                        <div class="campo">
                            <input type="hidden" id="nomeSafe" name="nomeSafe">
                            <input type="hidden" id="telefoneSafe" name="telefoneSafe">
                            <input type="hidden" id="imgSafe" name="imgSafe">
                            <label for="novaCidade">Cidade:</label>
                            <input type="text" id="novaCidade" name="novaCidade" autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
<script src="{{ url_for('static', filename='js/hemocentro.js') }}"></script>
{% endblock %}