{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}

<div class="imagemPaginaInicial noselect">
    <div class="imagemPaginaInicialDiv">
        <img src="/static/images/{{ current_user.get_hemocentro().get_img() }}">
        <a href="/dashboard" class="botao btn-principal txtAlign linhaMRReset">Mostrar estatíticas</a>
    </div>
</div>

{% endblock %}

{% block codigos %}
{% if sucesso == "sucesso" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/mensagensSucesso.js') }}"></script>
{% endif %}
{% endblock %}