{% extends 'base.html' %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/perfil.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Perfil</p>
    </div>

    <div class="cartao noselect">
        <div class="titulo">
            <h1>Perfil</h1>
        </div>
        <div class="formulario">
            <form action="/perfil" method="POST">
                {% if mensagem == "Alterado" %}
                <div class="alert alert-success" role="alert">
                    Captador atualizado com sucesso!
                </div>
                {% endif %}
                {% if mensagem == "ErroBD" %}
                <div class="alert alert alert-danger" role="alert">
                    O <b>banco de dados</b> encontrou uma falha nas informações inseridas, por favor, tente novamente com outros valores.
                </div>
                {% endif %}
                <div class="linhaFormulario">
                    <div class="campo" id="divNome">
                        <label id="lbNome" for="nome">Nome completo:</label>
                        <input value="{{ current_user.nome }}" type="text" name="nome" id="nome" autocomplete="off">
                    </div>
                    <div class="campo" id="divCelular">
                        <label id="lbCelular" for="celular">Celular:</label>
                        <input class="celular" value="{{ current_user.celular }}" type="text" id="celular"
                            name="celular" autocomplete="off">
                    </div>
                    <div class="campo" id="divHemocentro">
                        <label for="hemocentro">Hemocentro:</label>
                        <input value="{{ current_user.get_hemocentro().nome }}" type="text" readonly>
                    </div>
                </div>
                <div class="linhaFormulario ultimaLinhaInput">
                    <div class="campo" id="divEmail">
                        <label id="lbEmail" for="email">E-mail:</label>
                        <input value="{{ current_user.email }}" type="text" id="email" name="email" autocomplete="off">
                    </div>
                    <div class="campo" id="divLogin">
                        <label id="lbLogin" for="login">Login:</label>
                        <input value="{{ current_user.login }}" type="text" id="login" name="login" autocomplete="off">
                    </div>
                </div>

                <div class="linhaBotoes SpcBtw">
                    <input onclick="validar(event)" type="submit" name="botao" class="botao btn-perfil btn-principal" value="Atualizar cadastro">
                    <input type="button" name="botao" class="botao btn-perfil btn-alerta linhaMRReset" value="Excluir cadastro" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Deseja realmente deletar o captador "{{ current_user.nome }}" da base de dados?!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                        <a href="/captador/desativar/{{ current_user.id }}"><button type="button"
                                                class="btn btn-danger">Confirmar</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block codigos %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="{{ url_for('static', filename='js/mascaras.js') }}"></script>
<script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
{% endblock %}