{% extends 'baseLogin.html' %}

{% block conteudo %}

<div class="subtitulo">Recuperar senha</div>

{% if envio %}
<div class="linhaMRReset descricao">E-mail enviado com instruções, caso não tenha recebido verifique em sua caixa de spam. O envio pode levar alguns minutos</div>
<div class="flexivel AlgCenter JstfyCenter btn-recuperar">
    <a href="/login"><button class="linhaMRReset botao btn-alerta">Login</button></a>
</div>
{% else %}    
<div class="linhaMRReset descricao">Insira seu E-mail para a recuperação da conta.</div>
<form action="/recuperar-senha" method="POST">
<input class="campoLogin" type="email" id="email" name="email" autocomplete="off" placeholder="E-mail">

<div class="flexivel AlgCenter JstfyCenter btn-recuperar">
    <button id="enviar" class="linhaMRReset botao btn-alerta">Enviar E-mail</button>
</div>
</form>
{% endif %}

{% endblock %}

{% block codigos %}
<script src="{{ url_for('static', filename='js/recuperarSenha.js') }}"></script>
{% endblock %}