{% extends "base.html" %}

{% block cabecalho %}
<link href="{{ url_for('static', filename='css/baseConteudo.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/relatorioDoadores.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
<div class="contentorConteudo">

    <div class="bread noselect">
        <p>Inicial ></p>
        <p>Doadores ></p>
        <p>Relatório doador</p>
    </div>

    <div class="cartao noselect">

        <div class="titulo">
            <h1>Relatório do doador</h1>
        </div>

        <div class="formulario">
            <div class="linhaFormulario linhaSolitaria">
                <div class="campo" id="divRegistro">
                    <label for="registro">Número de registro:</label>
                    <input type="text" id="registro" autocomplete="off">
                </div>
                <div class="campo" id="divNome">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" autocomplete="off">
                </div>
                <div class="campo" id="divCpf">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" autocomplete="off">
                </div>
                <a href="/realatorio-doador/id"><button class="botao btn-principal linhaMRReset">Buscar</button></a>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}